<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Captive Labs</title>
        <meta name="author" content="Captive Labs">
        <meta name="description" content="A design and devlopment agency for the modern world">
        <meta name="keywords" content="design, development, application, agency, studio">
        <meta name="application-name" content="Captive Labs">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,800|Lato:300,500" rel="stylesheet">
        <link href='./static/styles/main.css' rel='stylesheet'>
    </head>

    <body>
        <main style="overflow-x: hidden">
            <% include ../shared/nav %>
            <% include ../shared/mobile-menu %>

            <section class='about-page' style="overflow-x: hidden">
                <% include ./header %>
                <% include ./us %>
            </section>

            <% include ../shared/footer %>
        </main>

        <script src='./app.js'></script>
    </body>
</html>