<header class='about-header'>
    <div class='wrapper standard'>
        <div class='intro'>
            <h1>Hello, we're Captive</h1>
            <p>We are all about producing beautiful yet function websites and apps for brands, businesses both small and large, and charities across the board. We love our customers and what we do, plus we are tons of fun to work with!</p>
            <p>Each member of our team brings a combined experiences to produce Captive -- a different approach. We're not your average agency; each and every one of our projects aligns with out values</p>
        </div>
    </div>

    <div class='bg'>
        <span class='band band_1 top right rotate_cc origin_tr'></span>
        <span class='band band_2 top right rotate_cc origin_tr'></span>
        <span class='band band_3 top right rotate_cc origin_tr'></span>
        <span class='band band_4 top right rotate_cc origin_tr'></span>
        <span class='band band_5 top right rotate_cc origin_tr'></span>
        <span class='band band_6 top right rotate_cc origin_tr'></span>
        <span class='band band_7 top right rotate_cc origin_tr'></span>
    </div>
</header>