<section class='about-owners'>
    <div class='wrapper standard'>
        <div class='intro'>
            <h2>About Our Owners</h2>
            <p>With the aim of building an agency that is different and has the capability to cater to everyone, Emily and Forrest make the perfect duo</p>

            <p>Forrest has years of development experience under his belt and familiarity with multiple different industry tools and has worked and consulted on a multitude of different projects, such as MobX, Inferno, Facebook's React, and most recently his Javascript framework, MoonJS</p>

            <p>Emily really drives the company home with her impeccable taste in design, understanding how users will interact with a page, and the marketing skills and strategies needed to make any business succeed. When it comes to sales, Emily, with her large bredth of marketing experience is a force to be reckoned with</p>

            <div class='owner-images'>
                <div>
                    <img src='../static/images/em.png'>
                    <div class='owner-overlay'>
                        <div>
                        <p>Emily Hamm</p>
                        <span>Chief Creative Director</span>
                        </div>
                    </div>
                </div>

                <div>
                    <img src='../static/images/me.jpg'>
                    <div class='owner-overlay'>
                        <div>
                        <p>Forrest Collins</p>
                        <span>Chief Technical Director</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>