.nav.nav-pinned
    transform: translateY(0)
    background: #fff

    a
        color: #5b7180
        transition: color .4s ease-out

        &:hover
            color: #16232c
            
.nav.nav-unpinned
    transform: translateY(-75px)