<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Captive Labs</title>
        <meta name="author" content="Captive Labs">
        <meta name="description" content="A design and devlopment agency for the modern world">
        <meta name="keywords" content="design, development, application, agency, studio">
        <meta name="application-name" content="Captive Labs">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,800|Lato:300,500" rel="stylesheet">
        <link href='./static/styles/main.css' rel='stylesheet'>

        <style>
            @font-face {
                font-family: 'Geomanist';
                src: url('./static/fonts/geo/geo.eot');
                src: url('./staitc/fonts/geo/geo.woff2') format('woff2'),
                     url('./static/fonts/geo/geo.woff') format('woff'),
                     url('./static/fonts/geo/geo.ttf') format('truetype');
            }

            @keyframes draw {
                from {
                    stroke-dashoffset: 500;
                }

                to {
                    stroke-dashoffset: 0;
                }
            }

            body {
                height: 100vh;
                margin: 0;
                overflow-x: hidden;
                box-sizing: border-box;
            }

            .nav {
                position: fixed;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                align-items: stretch;
                background: transparent;
                height: 63px;
                z-index: 50;
                transition: all .4s ease-out;
            }

            .nav-left {
                display: flex;
                flex: 1;
                flex-basis: 0;
                align-items: center;
                padding-left: 70px;
                justify-content: flex-start;
            }

            .nav-logo p {
                font-family: 'Fira Sans';
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 2px;
                margin-bottom: 0;
                color: #fff;
            }

            .nav-right {
                display: flex;
                flex: 1;
                flex-basis: 0;
                align-items: center;
                justify-content: flex-end;
                padding-right: 70px;
            }

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 25px;
            }

            .nav-item a {
                text-decoration: none;
                cursor: pointer;
                color: #fff;
                font-family: 'Lato';
                font-weight: 500;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: color .4s ease-out;
            }

            main {
                height: 100vh;
                position: relative;
            }

            main.transitioning {
                overflow-y: visible;
                overflow-x: hidden;
            }

            main.transitioning .landing-first-view {
                transform: translateY(-100vh);
            }

            .landing-first-view {
                transition: transform 0.6s ease-out;
            }

            .landing-video-container {
                height: 100vh;
                overflow: hidden;
            }

            .landing-first-text-container {
                position: absolute;
                bottom: 35%;
                right: 200px;
                width: 350px;
            }

            .landing-first-text-container h1 {
                color: #fff;
                font-family: 'Fira Sans';
                font-weight: 700;
                font-size: 54px;
                letter-spacing: 2px;
                line-height: 65px;
                margin-bottom: 25px;
                opacity: 0;
                transform: translateY(60px);
                transition: transform 0.6s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-text-container h1.active {
                opacity: 1;
                transform: translateY(0);
            }

            .landing-first-text-container p {
                color: #fff;
                font-family: 'Geomanist';
                font-size: 17px;
                font-weight: normal;
                line-height: 25px;
                width: 90%;
                opacity: 0;
                transform: translateY(60px);
                transition: transform 0.6s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-text-container p.active {
                opacity: 1;
                transform: translateY(0);
            }

            .landing-first-page-change {
                position: absolute;
                bottom: 140px;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 70px;
            }

            .landing-first-page-button {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 250px;
                height: 250px;
            }

            .landing-first-page-button svg {
                position: relative;
                cursor: pointer;
                z-index: 30;
            }

            .landing-change-page {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
            }

            .landing-change-page.active {
                animation: draw 1500ms ease-in-out;
                animation-fill-mode: forwards;
            }

            .landing-first-svg-text {
                color: #fff;
                transform: translate(2px, 40px);
                font-family: 'Geomanist';
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.4px;
                text-transform: uppercase;
                opacity: 0;
                transition: transform 0.7s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-svg-text.active {
                opacity: 1;
                transform: translate(2px, -68px);
            }

            .landing-main-content {
                transition: transform 0.6s ease-out;
                width: 100vw;
            }

            .landing-main-content.transitioning {
                transform: translateY(-100vh);
                overflow-x: hidden;
            }

        </style>
    </head>

    <body>
        <main class='main-view'>
            <% include ./views/shared/nav %>

            <section class='landing-main-content'>
                <% include ./views/landing/header %>
                <% include ./views/landing/features %>
                <% include ./views/landing/about %>
                <% include ./views/landing/design %>
                <% include ./views/landing/development %>
                <% include ./views/landing/support %>
                <% include ./views/landing/help %>
                <% include ./views/landing/contact %>
                <% include ./views/shared/footer %>
            </section>
        </main>

        <script src='./app.js'></script>
    </body>
</html>