<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Captive Labs</title>
        <meta name="author" content="Captive Labs">
        <meta name="description" content="A design and devlopment agency for the modern world">
        <meta name="keywords" content="design, development, application, agency, studio">
        <meta name="application-name" content="Captive Labs">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1, maximum-scale=1.5">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,800|Lato:300" rel="stylesheet">
        <link href='./static/styles/main.css' rel='stylesheet'>

        <style>
            @font-face {
                font-family: 'Geomanist';
                src: url('./static/fonts/geo/geo.eot');
                src: url('./staitc/fonts/geo/geo.woff2') format('woff2'),
                     url('./static/fonts/geo/geo.woff') format('woff'),
                     url('./static/fonts/geo/geo.ttf') format('truetype');
            }

            @keyframes draw {
                from {
                    stroke-dashoffset: 500;
                }

                to {
                    stroke-dashoffset: 0;
                }
            }

            body {
                height: 100vh;
                margin: 0;
                overflow-x: hidden;
                box-sizing: border-box;
            }

            .nav {
                position: absolute;
                top: 0;
                left: 6%;
                display: flex;
                width: 88%;
                margin: 0 auto;
                align-items: stretch;
                background: transparent;
                height: 75px;
                z-index: 50;
            }

            .nav-left {
                display: flex;
                flex: 1;
                flex-basis: 0;
                align-items: center;
                padding-left: 70px;
                justify-content: flex-start;
            }

            .nav-logo p {
                font-family: 'Fira Sans';
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 2px;
                color: #fff;
            }

            .nav-right {
                display: flex;
                flex: 1;
                flex-basis: 0;
                align-items: center;
                justify-content: flex-end;
                padding-right: 70px;
            }

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 25px;
            }

            .nav-item a {
                text-decoration: none;
                cursor: pointer;
                color: #fff;
                font-family: 'Fira Sans';
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 2px;
            }

            main {
                height: 100vh;
                position: relative;
                overflow-y: hidden;
            }

            main.transitioning {
                overflow-y: visible;
            }

            main.transitioning .landing-first-view {
                transform: translateY(-100vh);
            }

            .landing-first-view {
                transition: transform 0.6s ease-out;
            }

            .landing-video-container {
                height: 100vh;
                overflow: hidden;
            }

            .landing-first-text-container {
                position: absolute;
                bottom: 35%;
                right: 200px;
                width: 350px;
            }

            .landing-first-text-container h1 {
                color: #fff;
                font-family: 'Fira Sans';
                font-weight: 700;
                font-size: 54px;
                letter-spacing: 2px;
                line-height: 65px;
                margin-bottom: 25px;
                opacity: 0;
                transform: translateY(60px);
                transition: transform 0.6s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-text-container h1.active {
                opacity: 1;
                transform: translateY(0);
            }

            .landing-first-text-container p {
                color: #fff;
                font-family: 'Geomanist';
                font-size: 17px;
                font-weight: normal;
                line-height: 25px;
                width: 90%;
                opacity: 0;
                transform: translateY(60px);
                transition: transform 0.6s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-text-container p.active {
                opacity: 1;
                transform: translateY(0);
            }

            .landing-first-page-change {
                position: absolute;
                bottom: 140px;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 70px;
            }

            .landing-first-page-button {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 250px;
                height: 250px;
            }

            .landing-first-page-button svg {
                position: relative;
                cursor: pointer;
                z-index: 30;
            }

            .landing-change-page {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
            }

            .landing-change-page.active {
                animation: draw 1500ms ease-in-out;
                animation-fill-mode: forwards;
            }

            .landing-first-svg-text {
                color: #fff;
                transform: translate(2px, 40px);
                font-family: 'Geomanist';
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.4px;
                text-transform: uppercase;
                opacity: 0;
                transition: transform 0.7s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-svg-text.active {
                opacity: 1;
                transform: translate(2px, -68px);
            }

            .landing-main-content {
                transition: transform 0.6s ease-out;
            }

            .landing-main-content.transitioning {
                transform: translateY(-100vh);
            }

        </style>
    </head>

    <body>
        <main class='main-view'>
            <% include ./views/shared/nav %>

            <section class='landing-first-view'>
                <div class='landing-video-container'>
                </div>

                <header class='landing-first-text-container'>
                    <h1 class='landing-first-header'>Designed to be the future</h1>
                    <p class='landing-first-text'>Captive Labs is a creative digital agency. We are specialists in SEO, Brand Design, Marketing, Analytics, and Development who love building applications, brands, and engaging customer experiences</p>
                </header>

                <div class='landing-first-page-change'>
                    <div class='landing-first-page-button'>
                        <svg x="0px" y="0px" width="110px" height="110px" viewBox="0 0 110 110">
                            <circle class='landing-change-page' stroke="#fff" stroke-miterlimit="10" cx="55" cy="55" r="50" fill="transparent"></circle>
                        </svg>
                        <p class='landing-first-svg-text'>Start</p>
                       <!-- <button id='landing-change-page' type='button'>
                            <p>Start</p>
                        </button> -->
                    </div>
                </div>
            </section>

            <section class='landing-main-content'>
                <header class='landing-main-header parallax'>
                    <div class='landing-main-header-overlay'>
                        <h1>A comprehensive approach to innovative solutions</h1>
                        <p>We're an interactive agency whose passion and experience in implementing mobile and online solutions can help your business achieve its goals. We professionally develop and implement strategies as well as support your online presence.</p>
                        <p>We believe in the power of online marketing, and that's why we make it the focus of our interactive services.</p>

                        <a href='/'>
                            <span>How are we different?</span>
                        </a>
                    </div> 
                </header>

                <section class='landing-features-list'>
                    <div>
                        <figure class='landing-feature design'>
                            <img class='icon design' src='./static/icons/design-icon.png' alt='User Experience Design'>
                            <h2>User Experience Design</h2>
                            <p>Great design starts with putting people first. Work with us and you'll benefit from a collaborative user experience design approach that promises improved usability, accessibility and efficiency</p>
                        </figure>

                        <figure class='landing-feature development'>
                            <img class='icon development' src='./static/icons/development-icon.png' alt='Pixel-perfect Development'>
                            <h2>Pixel-perfect Development</h2>
                            <p>We're not joking when we say we've considered every detail. That's right, down to each individual pixel. When you see a design, this is exactly how your website will look, complete with stunning animation and effects.</p>
                        </figure>

                        <figure class='landing-feature support'>
                            <img class='icon support' src='./static/icons/support-icon.png' alt='Complete Support'>
                            <h2>Complete Support</h2>
                            <p>Once your product has launched it's not goodbye. We're here to support any changes, provide analytics, asses performance and discuss future improvements, and we're always at the end of the phone if you need us</p>
                        </figure>
                    </div>
                </section>

                <section class='landing-about'>
                    <div class='landing-about-wrapper'>
                        <figure class='landing-about-image'>
                            <img src='./static/images/landing-about.jpg' alt="About Us">
                            <p>
                                Creative
                                <br>
                                Passionate
                                <br>
                                Effective
                            </p>
                        </figure>

                        <aside class='landing-about-text'>
                            <h3>We're passionate about creating extraordinary digital experiences</h3>
                            <p>Every web design and development project or digital marketing campaign we undertake tied in with our core values</p>
                            <p>We're proud of relationships and strive to work towards a collaborative challenging, honest and fun environment with every client</p>
                            <p>After all, success in life means living by your values</p>

                            <a href='/about'>
                                <span>About us</span>
                            </a>
                        </aside>
                    </div>

                    <div class='landing-about-background'>
                        <span class='band white first-band'></span>
                        <span class='band blue_1 second-band'></span>
                        <span class='band blue_2 third-band'></span>
                    </div>
                </section>
            </section>
        </main>

        <script>
            function init() {
                const videoContainer = document.querySelector('.landing-video-container');
                const videoHeader = document.querySelector('.landing-first-header');
                const videoText = document.querySelector('.landing-first-text');
                const svg = document.querySelector('.landing-change-page');
                const svgText = document.querySelector('.landing-first-svg-text');
                const trigger = document.querySelector('.landing-first-page-button svg');
                const replacementContent = document.querySelector('.landing-main-content');
                const landingVideoContainer = document.querySelector('.main-view');
                const landingVideoContainerChild = document.querySelector('.landing-first-view');

                let img = document.createElement('img');
                let video = document.createElement('video');
                let docFrag = document.createDocumentFragment();
                let docFrag2 = document.createDocumentFragment();
                let timeout1;
                let timeout2;
                let timeout3;
                let timeout4;

                img.classList.add('landing-video-image');
                video.classList.add('landing-video-video');


                load().then(() => {
                    timeout1 = setTimeout(() => {
                        videoHeader.classList.add('active');
                        timeout2 = setTimeout(() => {
                            videoText.classList.add('active');

                            timeout3 = setTimeout(() => {
                                svg.classList.add('active');

                                timeout4 = setTimeout(() => {
                                    svgText.classList.add('active');
                                }, 1300);
                            }, 500);
                        }, 500);
                    }, 1500);

                    timeout1();
                })
                .then(() => {
                    clearTimeout(timeout1);
                    clearTimeout(timeout2);
                    clearTimeout(timeout3);
                    clearTimeout(timeout4);
                });

                function load() {
                    return new Promise(resolve => {
                        if (window.innerWidth <= 800 || document.documentElement.clientWidth <= 800) {
                            handleMobile();
                        } else {
                            handleDesktop();
                        }

                        resolve();
                    });
                }


                function checkMobile() {
                    if (window.innerWidth <= 800 || document.documentElement.clientWidth <= 800) {
                        handleMobile();
                    } else {
                        handleDesktop();
                    }
                };

                function handleMobile() {
                    let landingVideo = document.querySelector('.landing-video-video');

                    if (landingVideo) {
                        landingVideo.parentNode.removeChild(landingVideo);
                    }

                    img.alt = 'Video Background';
                    img.src = './static/images/landing-video-background.jpg';

                    docFrag.appendChild(img);
                    videoContainer.appendChild(docFrag);
                }

                function handleDesktop() {
                    let landingBackground = document.querySelector('landing-video-image');

                    if (landingBackground) {
                        landingBackground.parentNode.removeChild(landingBackground);
                    }

                    video.src = './static/videos/landing-video.mp4';
                    video.setAttribute('loop', 'true');
                    video.play();

                    docFrag.appendChild(video);
                    videoContainer.appendChild(docFrag);
                }

                function transition() {
                    landingVideoContainer.classList.add('transitioning');
                    replacementContent.classList.add('transitioning');

                    trigger.removeEventListener('click', transition);
                }

                trigger.addEventListener('click', transition);
            }

            init();
        </script>
    </body>
</html>