<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Captive Labs</title>
        <meta name="author" content="Captive Labs">
        <meta name="description" content="A design and devlopment agency for the modern world">
        <meta name="keywords" content="design, development, application, agency, studio">
        <meta name="application-name" content="Captive Labs">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,800|Lato:300,500" rel="stylesheet">
        <link href='./static/styles/main.css' rel='stylesheet'>

        <style>
            @font-face {
                font-family: 'Geomanist';
                src: url('./static/fonts/geo/geo.eot');
                src: url('./staitc/fonts/geo/geo.woff2') format('woff2'),
                     url('./static/fonts/geo/geo.woff') format('woff'),
                     url('./static/fonts/geo/geo.ttf') format('truetype');
            }

            @keyframes draw {
                from {
                    stroke-dashoffset: 500;
                }

                to {
                    stroke-dashoffset: 0;
                }
            }

            body {
                height: 100vh;
                margin: 0;
                overflow-x: hidden;
                box-sizing: border-box;
            }

            .nav {
                position: absolute;
                top: 0;
                left: 6%;
                display: flex;
                width: 88%;
                margin: 0 auto;
                align-items: stretch;
                background: transparent;
                height: 75px;
                z-index: 50;
            }

            .nav-left {
                display: flex;
                flex: 1;
                flex-basis: 0;
                align-items: center;
                padding-left: 70px;
                justify-content: flex-start;
            }

            .nav-logo p {
                font-family: 'Fira Sans';
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 2px;
                color: #fff;
            }

            .nav-right {
                display: flex;
                flex: 1;
                flex-basis: 0;
                align-items: center;
                justify-content: flex-end;
                padding-right: 70px;
            }

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 25px;
            }

            .nav-item a {
                text-decoration: none;
                cursor: pointer;
                color: #fff;
                font-family: 'Fira Sans';
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 2px;
            }

            main {
                height: 100vh;
                position: relative;
            }

            main.transitioning {
                overflow-y: visible;
                overflow-x: hidden;
            }

            main.transitioning .landing-first-view {
                transform: translateY(-100vh);
            }

            .landing-first-view {
                transition: transform 0.6s ease-out;
            }

            .landing-video-container {
                height: 100vh;
                overflow: hidden;
            }

            .landing-first-text-container {
                position: absolute;
                bottom: 35%;
                right: 200px;
                width: 350px;
            }

            .landing-first-text-container h1 {
                color: #fff;
                font-family: 'Fira Sans';
                font-weight: 700;
                font-size: 54px;
                letter-spacing: 2px;
                line-height: 65px;
                margin-bottom: 25px;
                opacity: 0;
                transform: translateY(60px);
                transition: transform 0.6s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-text-container h1.active {
                opacity: 1;
                transform: translateY(0);
            }

            .landing-first-text-container p {
                color: #fff;
                font-family: 'Geomanist';
                font-size: 17px;
                font-weight: normal;
                line-height: 25px;
                width: 90%;
                opacity: 0;
                transform: translateY(60px);
                transition: transform 0.6s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-text-container p.active {
                opacity: 1;
                transform: translateY(0);
            }

            .landing-first-page-change {
                position: absolute;
                bottom: 140px;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 70px;
            }

            .landing-first-page-button {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 250px;
                height: 250px;
            }

            .landing-first-page-button svg {
                position: relative;
                cursor: pointer;
                z-index: 30;
            }

            .landing-change-page {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
            }

            .landing-change-page.active {
                animation: draw 1500ms ease-in-out;
                animation-fill-mode: forwards;
            }

            .landing-first-svg-text {
                color: #fff;
                transform: translate(2px, 40px);
                font-family: 'Geomanist';
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.4px;
                text-transform: uppercase;
                opacity: 0;
                transition: transform 0.7s ease-out, opacity 0.4s ease-out;
            }

            .landing-first-svg-text.active {
                opacity: 1;
                transform: translate(2px, -68px);
            }

            .landing-main-content {
                transition: transform 0.6s ease-out;
                width: 100vw;
            }

            .landing-main-content.transitioning {
                transform: translateY(-100vh);
                overflow-x: hidden;
            }

        </style>
    </head>

    <body>
        <main class='main-view'>
            <% include ./views/shared/nav %>

           <!--  <section class='landing-first-view'>
                <div class='landing-video-container'>
                </div>

                <header class='landing-first-text-container'>
                    <h1 class='landing-first-header'>Designed to be the future</h1>
                    <p class='landing-first-text'>Captive Labs is a creative digital agency. We are specialists in SEO, Brand Design, Marketing, Analytics, and Development who love building applications, brands, and engaging customer experiences</p>
                </header>

                <div class='landing-first-page-change'>
                    <div class='landing-first-page-button'>
                        <svg x="0px" y="0px" width="110px" height="110px" viewBox="0 0 110 110">
                            <circle class='landing-change-page' stroke="#fff" stroke-miterlimit="10" cx="55" cy="55" r="50" fill="transparent"></circle>
                        </svg>
                        <p class='landing-first-svg-text'>Start</p>
                       <button id='landing-change-page' type='button'>
                            <p>Start</p>
                        </button>
                    </div>
                </div>
            </section> -->

            <section class='landing-main-content'>
                <% include ./views/landing/header %>
                <% include ./views/landing/features %>
                <% include ./views/landing/about %>
                <section class='landing-design-section'>
                    <div>
                        <div class="landing-design-text">
                            <header class='landing-design-header'>
                                <img src='./static/icons/design-icon.png' alt="Captive Design">
                                <h2>User Experience Design</h2>
                            </header>

                            <h3>It takes 3 seconds to capture your visitor and begin the process of converting them into a customer. It's all down to design</h3>

                            <p>Our team will sit down and listen to your objectives and goals; whether it's gaining enquiries, driving phone calls, downloading a resource or purchasing a product, we'll design the website with these at the forefron of our minds, tweaking area after launch to further improve results</p>
                            <p>And let's not forget about responsive design. Over 65% of internet browsing is on mobile devices, with desktop a secondary touch point for purchases and bookins - responsive is no longer an afterthough</p>
                            <a class='button-link landing-design-button' href='/design'>
                                <span>Find out more</span>
                            </a>
                        </div>

                        <div class='landing-design-phone'>
                            <span class='phone-camera'></span>
                            <span class='phone-speaker'></span>
                            <div class='phone-shadow'></div>
                            <div class='phone-screen'>
                                <div class='phone-screen-inner'>
                                    <!-- <div class='slide slide_1' id='phone_slide_1'>
                                       
                                    </div> -->

                                    <div class='slide slide_2' id='phone_slide_2'>
                                        <img src='./static/images/landing-phone2.png' alt="Example Design">
                                    </div>

                                    <div class='slide slide_3' id='phone_slide_3'>
                                        <!-- <img src='./static/images/landing-design-phone3.jpg' alt='Design Example'> -->
                                    </div>

                                    <div class='slide slide_4' id='phone_slide_4'>
                                        <!-- <img src='./static/images/landing-design-phone4.jpg' alt='Design Example'> -->
                                    </div>
                                </div>
                            </div>

                            <span class='phone-button'></span>
                        </div>
                    </div>
                </section>

                <section class='landing-development-section'>
                    <div>
                        <div class='landing-development-text'>
                            <header class='landing-development-header'>
                                <img src='./static/icons/development-icon.png'>
                                <h2>pixel-perfect development</h2>
                            </header>
                            <h3>Every website web develop is coded by hand, focusing on flawless use experience and lightning fast load speeds</h3>

                            <div class='landing-development-bottom'>
                                <div>
                                    <p>Whether you're looking for a branch new website or application, we're the team for you. All of our websites are mobile-friendly, and built with the recommended tools for your project ensuring really simple editing
                                    </p>
                                    <p>We work with Jekyll, Magneto, React, Angular, and Vue on the front end, and our backend is based on Node, MongoDB, Reddis, Pouch and many other tools</p>
                                    <p>Our developers are deticated to performant hosting and tools like Elastic Search, S3, and Cloudflare ensuring your product loads fast no matter where your user is from</p>

                                    <a class='button-link development-button'>
                                        <span>Find out More</span>
                                    </a>
                                </div>

                                <div class='development-code'>
                                    <div class='development-code-top'>
                                        <span class='red'></span>
                                        <span class='yellow'></span>
                                        <span class='green'></span>
                                    </div>

                                    <span class='editor-shadow-right'></span>
                                    <span class='editor-shadow-bottom'></span>
                                        <div class='editor-code'>
                                            <div class='numbers'></div>
                                            <pre class='first hljs js'>
                                                    <span class='keyword'>class</span> <span class='title'>Profile</span> <span class='keyword'>extends</span> <span class='title'>React.Component {</span>
                                                        &emsp;<span class='keyword'>constructor(</span><span class='function-input'>props</span><span class='paren'>) {</span>
                                                        &emsp;&emsp;<span class='keyword'>super</span><span class='paren'>(</span><span class='function-input'>props</span><span class='paren'>)</span>;
                                                        &emsp;<span class='paren'>}</span>

                                                        &emsp;<span class='function'>componentDidMount() {</span>
                                                            &emsp;&emsp;<span class='this'>this</span><span class='dot'>.</span><span class='variable'>props</span><span class='dot'>.</span><span class='function'>loadUser</span><span class='paren'>();</span>
                                                        &emsp;<span class='paren'>}</span>

                                                        &emsp;<span class='function'>render() {</span>
                                                            &emsp;&emsp;<span class='return'>return</span> <span class='paren'>(</span>
                                                                &emsp;&emsp;&emsp;<span class='paren'>{</span><span class='this'>this</span><span class='dot'>.</span><span class='variable'>props</span><span class='dot'>.</span><span class='variable'>user</span> <span class='operator'>?</span> <span class='this'>this</span><span class='dot'>.</span><span class='variable'>props</span><span class='dot'>.</span><span class='variable'>user</span><span class='dot'>.</span><span class='variable'>name</span> <span class='operator'>:</span> <span class='type'>null</span><span class='paren'>}</span>
                                                            &emsp;&emsp;<span class='paren'>);</span>
                                                        &emsp;<span class='paren'>}</span>
                                                    <span class='paren'>}</span>

                                                    <span class='variable-assign'>const</span> <span class='variable'>mapDispatchToProps</span> <span class='operator'>=</span> <span class='function-input'>dispatch</span> <span class='arrow-function'>=></span> <span class='paren'>{</span>
                                                    &emsp;<span class='return'>return</span> <span class='paren'>{</span>
                                                        &emsp;&emsp;<span class='function'>loadUser: ()</span> <span class='arrow-function'>=></span> <span class='paren'>{</span>
                                                            &emsp;&emsp;&emsp;<span class='this'>dispatch</span><span class='function'>(getUser());</span>
                                                        &emsp;&emsp;<span class='paren'>}</span>
                                                    &emsp;<span class='paren'>};</span>
                                                <span class='paren'>};</span>

                                                <span class='return'>export default</span> <span class='title'>Profile</span>;
                                            </pre>
                                        </div>

                                        <div class='code-spacer'></div>

                                        
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class='landing-support-section'>
                    <div>
                        <div class='landing-support-intro'>
                            <header class='landing-support-header'>
                                <img src='./static/icons/support-icon.png' alt='Support'>
                                <h2>Complete Support</h2>
                            </header>
                            <h3>It's not about re-designing your entire website every to years to stay on top of the competition. It's about two huge ranking signals: evolution and speed</h3>
                            <p>We don't say goodbye once we've launched a project; we thrive off of constantly adding and improving features and functionality to improve engagement and conversion rates. This means your website will be fast, up-to-date, secure and backed up. Ask us about our support system</p>
                        </div>

                        <div class='messages-container'>
                            <div class='message'>
                                <img src='./static/icons/support-male.jpg' alt='Male Support Member'>
                                <div class='message-content'>
                                <span class="arrow"></span>
                                <span class='text title'></span>
                                <span class='text'></span>
                                <span class='text'></span>
                                <span class='text'></span>
                                <span class='text'></span>
                                <span class='text'></span>
                                </div>
                            </div>

                            <div class='message alt'>
                                <!-- img -->
                                <div class='message-content'>
                                    <span class='arrow'></span>
                                    <span class='text title'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                </div>
                            </div>

                            <div class='message'>
                                <img src='./static/icons/support-female.jpg' alt='Female Support Member'>
                                <div class='message-content'>
                                    <span class='arrow'></span>
                                    <span class='text title'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                </div>
                            </div>

                            <div class='message alt'>
                                <!-- image <img src='./static/icons/support-male.jpg' alt='Male Support Member'> -->
                                <div class='message-content'>
                                    <span class="arrow"></span>
                                    <span class='text title'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                    <span class='text'></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='support-background'>
                        <span class></span>
                    </div>
                </section>

                <section class='landing-help'>
                    <div>
                        <div class='landing-help-content'>
                            <div class='landing-help-inner'>
                                <div class='landing-help-intro'>
                                    <h3>Talk to our team</h3>
                                    <p>Would you like to talk to us about a new project, helping you out with your current website, your digital marketing stratgey, or perhaps something else entirely?</p>
                                    <p>We're looking forward to it</p>
                                </div>

                                <div class='landing-help-links'>
                                    <a href="tel:9183518097">
                                        <img src='./static/icons/help-icon-phone.png' alt='Phone us'>
                                        <span>918 351 8097</span>
                                    </a>

                                    <a href='mailto:captiveStudios@gmail.com'>
                                        <img src='./static/icons/help-icon-mail.png' alt="Mail Us">
                                        <span>captiveStudios@gmail.com</span>
                                    </a>

                                    <a href='https://twitter.com/captive' target="_blank">
                                        <img src='./static/icons/help-icon-twitter.png' alt='Our Twitter'>
                                        <span>https://twitter.com/captive</span>
                                    </a>
                                </div>
                            </div>
                            <div class='landing-help-bands'>
                                <span class='landing-help-band band-1'></span>
                                <span class='landing-help-band band-2'></span>
                            </div>
                        </div>
                    </div>

                    <div class='landing-help-background'>
                        <span class='landing-help-band-background background-band-1'></span>
                        <span class='landing-help-band-background background-band-2'></span>
                        <span class='landing-help-band-background  background-band-3'></span>
                    </div>
                </section>

                <section class='landing-contact'>
                    <div>
                        <div class='landing-contact-intro'>
                            <h2>How can we help?</h2>
                            <p>
                                No matter the size of your project or digital marketing campaign, we'd love to hear from you! Get in touch below or call us at 1918 351 8097</p>
                        </div>
                        <!-- intro -->
                    </div>

                    <!-- Wrapper -->

                    <div class='landing-contact-form'>
                        <div>
                            <form name='contact-form' class='contact-form'>
                                <div class='form-fields'>
                                    <div class='field'>
                                        <label for='contact-name'>Name</label>
                                        <input type='text' id='contact-name'>
                                    </div>

                                    <div class='field'>
                                        <label for="contact-email">Email</label>
                                        <input type='email' id='contact-email'>
                                    </div>

                                    <div class='field'>
                                        <label for='contact-phone'>Phone</label>
                                        <input type='text' id='contact-phone'> 
                                    </div>

                                    <div class='field full'>
                                        <label for='contact-message'>Message</label>
                                        <textarea id='contact-message'></textarea>
                                    </div>

                                    <div class='field'>
                                        <button class='submit-button' type='button'>
                                            <span>Send!</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- fields -->
                            </form>
                        </div>

                        <!-- wrapper -->

                        <div class='landing-contact-background'>
                            <span class='contact-band contact-band-1'></span>
                            <span class='contact-band contact-band-2'></span>
                        </div>
                    </div>
                </section>
                <% include ./views/shared/footer %>
            </section>
        </main>

       <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script> -->
        <script>
            function init() {
                const videoContainer = document.querySelector('.landing-video-container');
                const videoHeader = document.querySelector('.landing-first-header');
                const videoText = document.querySelector('.landing-first-text');
                const svg = document.querySelector('.landing-change-page');
                const svgText = document.querySelector('.landing-first-svg-text');
                const trigger = document.querySelector('.landing-first-page-button svg');
                const replacementContent = document.querySelector('.landing-main-content');
                const landingVideoContainer = document.querySelector('.main-view');
                const landingVideoContainerChild = document.querySelector('.landing-first-view');

                let img = document.createElement('img');
                let video = document.createElement('video');
                let docFrag = document.createDocumentFragment();
                let docFrag2 = document.createDocumentFragment();
                let timeout1;
                let timeout2;
                let timeout3;
                let timeout4;

                img.classList.add('landing-video-image');
                video.classList.add('landing-video-video');


                load().then(() => {
                    timeout1 = setTimeout(() => {
                        videoHeader.classList.add('active');
                        timeout2 = setTimeout(() => {
                            videoText.classList.add('active');

                            timeout3 = setTimeout(() => {
                                svg.classList.add('active');

                                timeout4 = setTimeout(() => {
                                    svgText.classList.add('active');
                                }, 1300);
                            }, 500);
                        }, 500);
                    }, 1500);

                    timeout1();
                })
                .then(() => {
                    clearTimeout(timeout1);
                    clearTimeout(timeout2);
                    clearTimeout(timeout3);
                    clearTimeout(timeout4);
                });

                function load() {
                    return new Promise(resolve => {
                        if (window.innerWidth <= 800 || document.documentElement.clientWidth <= 800) {
                            handleMobile();
                        } else {
                            handleDesktop();
                        }

                        resolve();
                    });
                }


                function checkMobile() {
                    if (window.innerWidth <= 800 || document.documentElement.clientWidth <= 800) {
                        handleMobile();
                    } else {
                        handleDesktop();
                    }
                };

                function handleMobile() {
                    let landingVideo = document.querySelector('.landing-video-video');

                    if (landingVideo) {
                        landingVideo.parentNode.removeChild(landingVideo);
                    }

                    img.alt = 'Video Background';
                    img.src = './static/images/landing-video-background.jpg';

                    docFrag.appendChild(img);
                    videoContainer.appendChild(docFrag);
                }

                function handleDesktop() {
                    let landingBackground = document.querySelector('landing-video-image');

                    if (landingBackground) {
                        landingBackground.parentNode.removeChild(landingBackground);
                    }

                    video.src = './static/videos/landing-video.mp4';
                    video.setAttribute('loop', 'true');
                    video.play();

                    docFrag.appendChild(video);
                    videoContainer.appendChild(docFrag);
                }

                function transition() {
                    landingVideoContainer.classList.add('transitioning');
                    replacementContent.classList.add('transitioning');

                    trigger.removeEventListener('click', transition);
                }

                trigger.addEventListener('click', transition);
            }

            init();
        </script>
       <!-- <script>hljs.initHighlightingOnLoad();</script> -->
    </body>
</html>