<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Captive Studios</title>
        <meta name="author" content="Captive Labs">
        <meta name="description" content="A design and devlopment agency for the modern world">
        <meta name="keywords" content="design, development, application, agency, studio">
        <meta name="application-name" content="Captive Labs">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,800|Lato:300,500" rel="stylesheet">
        <link href='./static/styles/main.css' rel='stylesheet'>

        <style>
            @font-face {
                font-family: 'Geomanist';
                src: url('./static/fonts/geo/geo.eot');
                src: url('./staitc/fonts/geo/geo.woff2') format('woff2'),
                     url('./static/fonts/geo/geo.woff') format('woff'),
                     url('./static/fonts/geo/geo.ttf') format('truetype');
            }
        </style>
    </head>

    <body>
        <main class='main-view'>
            <% include ./views/shared/nav %>
            <% include ./views/shared/mobile-menu %>

            <section class='landing-main-content' style="overflow-x: hidden">
                <% include ./views/landing/header %>
                <% include ./views/landing/features %>
                <% include ./views/landing/about %>
                <% include ./views/landing/design %>
                <% include ./views/landing/development %>
                <% include ./views/landing/support %>
                <% include ./views/landing/help %>
                <% include ./views/landing/contact %>
                <% include ./views/shared/footer %>
            </section>
        </main>

        <script src='./app.js'></script>
    </body>
</html>