<footer class='footer'>
    <div class='footer-top'>
        <div>
            <div class='footer-columns'>
                <div class='footer-col-1'>
                    <h6>Useful Links</h6>
                    <ul class='footer-links'>
                        <li>
                            <a href='/'>Home</a>
                        </li>

                        <li>
                            <a href='/about'>About</a>
                        </li>

                        <li>
                            <a href='/design'>Design</a>
                        </li>

                        <li>
                            <a href='/development'>Development</a>
                        </li>

                        <li>
                            <a href='/blog'>Blog</a>
                        </li>

                        <li>
                            <a href='/contact'>Contact</a>
                        </li>
                    </ul>
                </div>

                <div class='footer-col-2'>
                    <h6>Social</h6>
                    <ul class='footer-links'>
                        <li>
                            <a href='/'>Facebook</a>
                        </li>

                        <li>
                            <a href='/'>Twitter</a>
                        </li>

                        <li>
                            <a href='/'>Instagram</a>
                        </li>

                        <li>
                            <a href='/'>LinkedIn</a>
                        </li>

                        <li>
                            <a href='/'>Google+</a>
                        </li>

                        <li>
                            <a href='/'>Dribble</a>
                        </li>
                    </ul>
                </div>

                <div class='footer-col-3'>
                    <h6>Special Services</h6>
                    <ul class='footer-links'>
                        <li>
                            <a href='/'>Static Packages</a>
                        </li>

                        <li>
                            <a href='/'>Application Development</a>
                        </li>

                        <li>
                            <a href='/'>Rebrand</a>
                        </li>
                    </ul>
                </div>


                <div class='footer-col-4'>
                    <h6>Newsletter</h6>
                    <p>The latest news, advice and offers straight to your inbox</p>
                    <form name='newsletter-form'>
                        <input type='email' placeholder="Email Address">
                        <button type='button' class='newsletter-submit'>
                            Sign Up
                        </button>
                    </form>

                    <h6>Consultation and Support</h6>
                    <p>
                        Call: 1918 351 8097
                        <br>
                        Email: <a href="mailto:captiveStudios@gmail.com"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class='footer-accreditations'>
        <div></div>
    </div>

    <div class='footer-bottom'>
        <div>
            <p>Copyright &copy; 2017 CaptiveStudios&trade; Ltd.
                <span class="space">&#9679;</span>
                Texas: <span class='highlight'>2002 Longmeadow Ct.</span>
            </p>
        </div>
    </div>
</footer>
