<nav class='nav'>
    <div class='nav-left'>
        <div class='nav-item nav-logo'>
            <p>Captive Studios</p>
        </div>
    </div>

    <div class='nav-right'>
        <div class='nav-item'>
            <a href='/'>
                Home
            </a>
        </div>

        <div class='nav-item'>
            <a href='/about'>
                About
            </a>
        </div>

        <div class='nav-item'>
            <a href='/packages'>
                Packages/Pricing
            </a>
        </div>

        <button class='nav-menu nav-trigger' type='button'>
            <span class='menu-box'>
                <span class='menu-inner'></span>
            </span>
        </button>
    </div>
</nav>