.packages-header
    position: relative
    padding: 160px 0 180px

    .header-content
        width: 100%
        max-width: 800px
        margin: 0 auto
        color: rgba(255, 255, 255, 0.9)
        text-align: left
        opacity: 1
        position: relative
        transition: opacity .75s ease
        transition-delay: .5s
        z-index: 2

        h1
            font-family: 'Lato'
            font-weight: 300
            font-size: 40px
            line-height: 1.25em
            margin-bottom: 40px

        p
            line-height: 26.35px

        a
            margin-top: 40px
            color: #36ceb0

    .bg
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        z-index: 1
        overflow: hidden
        background: #36ceb0

        img
            position: absolute
            width: auto
            height: 100%
            left: 0
            top: 0
            opacity: 1
            z-index: 1
            transition: opacity .75s ease
            transition-delay: .75s

            // top: 0 left: 0

        .band.over
            background: #fff
            left: 0
            z-index: 3
            bottom: -800px
            width: 140%
            height: 800px

        .band.under
            width: 150%
            z-index: 2
            bottom: -700px
            left: -10%
            display: none
            background: #36d2b4
            transform: rotate(-5deg)

@media screen and (min-width: 800px)
    .packages-header
        .bg
            img
                width: 100%

            .band.over
                height: 720px
                bottom: -720px

@media screen and (min-width: 1000px)
    .packages-header
        .header-content
            text-align: center

@media screen and (min-width: 1200px)
    .packages-header
        .bg
            .band.over
                height: 550px
                bottom: -550px

@media screen and (min-width: 1400px)
    .packages-header
        .bg
            .band.over
                height: 360px
                bottom: -360px