html { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width: 100vw; }

body { margin: 0; overflow-x: hidden; width: 100vw; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

* { background-repeat: no-repeat; padding: 0; margin: 0; }

*, ::before, ::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

::before, ::after { text-decoration: inherit; vertical-align: inherit; }

audio:not([controls]) { display: none; height: 0; }

hr { overflow: visible; border: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, menu, nav, section, summary { display: block; }

summary { display: list-item; }

small { font-size: 80%; }

[hidden], template { display: none; }

abbr[title] { border-bottom: 1px dotted; text-decoration: none; }

a { background-color: transparent; -webkit-text-decoration-skip: objects; }

a:active, a:hover { outline-width: 0; }

b, strong { font-weight: bolder; }

dfn { font-style: italic; }

mark { background-color: #ff0; color: #000; }

sub, sup { font-size: 75%; line-height: 0; position: relative; veritcal-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

button, [type="button"], [type="reset"], [type="submit"], [role="button"] { cursor: pointer; }

[disabled] { cursor: default; }

[type="search"] { -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-apearance: none; }

textarea { overflow: auto; resize: vertical; }

input, optgroup, select, textarea { font: inherit; }

outgroup { font-weight: bold; }

select { -moz-appearance: none; -webkit-appearance: none; }

select::-ms-expand { display: none; }

legend { border: 0; color: inherit; display: table; max-width: 100%; white-space: normal; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

img { border-style: none; }

progress { vertical-align: baseline; }

svg:not(:root) { overflow: hidden; }

audio, canvas, progress, video { display: inline-block; }

@media screen { [hidden~="screen"] { display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) { position: absolute !important; clip: rect(0, 0, 0, 0) !important; } }

[aria-busy="true"] { cursor: progress; }

[aria-controls] { cursor: pointer; }

[aria-disabled] { cursor: default; }

::-moz-focus-inner { padding: 0; border: 0; }

button { background: none; border: none; }

.keyword { color: #b2def7; }

.title { color: #5bf3c0; }

.paren { color: #b2def7; }

.function-input { color: #fdbc40; }

.function { color: #b2def7; }

.this { color: #fdbc40; }

.return { color: #fc635d; }

.arrow-function { color: #fc635d; }

.variable { color: #5bf3c0; }

.variable-assign { color: #b2def7; }

.dot { color: #b2def7; }

.operator { color: #b2def7; }

.type { color: #fc635d; }

body { background: #fff; color: #8895a6; font-size: 17px; line-height: 1.55em; }

h1, h2, h3, h4, h5, h6 { font-family: 'Fira Sans'; font-weight: 400; margin: 0 0 20px; }

p, span { font-family: 'Lato'; font-weight: 300; }

p { margin: 0 0 20px; }

.wrapper { margin: 0 auto; }

.wrapper.narrow { width: 750px; }

.wrapper.standard { width: 1000px; }

.wrapper.wide { width: 1100px; }

.band { position: absolute; width: 140%; height: 800px; z-index: 1; }

.band.rotate_c { -webkit-transform: rotate(12deg); -ms-transform: rotate(12deg); transform: rotate(12deg); }

.band.rotate_cc { -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); }

.band.rotate_c.offset { -webkit-transform: rotate(5deg); -ms-transform: rotate(5deg); transform: rotate(5deg); }

.band.rotate_cc.offset { -webkit-transform: rotate(-5deg); -ms-transform: rotate(-5deg); transform: rotate(-5deg); }

.band.origin_tl { -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; }

.band.origin_tr { -webkit-transform-origin: top right; -ms-transform-origin: top right; transform-origin: top right; }

.band.origin_bl { -webkit-transform-origin: bottom left; -ms-transform-origin: bottom left; transform-origin: bottom left; }

.band.origin_br { -webkit-transform-origin: bottom right; -ms-transform-origin: bottom right; transform-origin: bottom right; }

.band.top { top: -800px; }

.band.bottom { bottom: -800px; }

.band.right { right: 0; }

.band.left { left: 0; }

.btn { position: relative; width: 235px; padding: 15px 0; background: #4daaf2; color: #fff; -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); border-radius: 2px; font-size: 12px; text-align: center; text-transform: uppercase; cursor: pointer; -webkit-transition: all .4s ease; transition: all .4s ease; }

.btn > span { position: relative; display: block; -webkit-transition: all .5s ease; transition: all .5s ease; z-index: 3; }

.btn:hover { -webkit-box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.23); box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.23); }

.btn:hover:after, .btn:hover:before { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.btn:before, .btn:after { content: ""; position: absolute; top: -250px; right: -250px; width: 500px; height: 500px; background: rgba(0, 0, 0, 0.15); border-radius: 100%; opacity: 1; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transition: all .5s ease; transition: all .5s ease; z-index: 1; }

.btn:after { background: inherit; -webkit-transition-delay: .15s; transition-delay: .15s; z-index: 2; }

.intro header { position: relative; min-height: 62px; padding-left: 88px; margin: 0 0 30px; }

.intro header .icon { position: absolute; top: 0; left: 0; display: block; height: auto; width: 62px; border-radius: 100%; pointer-events: none; }

.intro header h2 { padding: 7px 0 0; margin: 0; color: #fff; font-size: 30px; line-height: 1.5em; text-transform: lowercase; }

.intro header h2 a { color: inherit; text-decoration: none; }

.intro header h3, .intro header p { line-height: 1.5em; }

.intro header h3 { font-size: 25px; color: #fff; }

.intro header p { font-size: 19px; }

.intro header p a { color: inerhit; text-decoration: none; border-bottom: 1px #fff dotted; }

.intro header p a:hover { border-bottom-style: solid; }

.icon.design { background: #4daaf2; }

.icon.development { background: #36ceb0; }

.icon.support { background: #7259cd; }

.landing-header { position: relative; width: 100%; padding: 80px 0 60px; background-image: url("../images/landing-main-header-background.jpg"); background-position: 0 50%; background-size: cover; -webkit-transition: -webkit-transform .75s ease; transition: -webkit-transform .75s ease; transition: transform .75s ease; transition: transform .75s ease, -webkit-transform .75s ease; }

.landing-header .wrapper { margin: 0 35px; width: auto; }

.header-content { font-size: 17px; line-height: 1.4em; text-align: center; }

.header-content h1 { margin-bottom: 22px; font-size: 30px; line-height: 1.1em; color: #fff; }

.header-content p { padding: 0; color: rgba(255, 255, 255, 0.9); }

.btn-link { display: inline-block; margin-top: 30px; background: #fff; color: #2c4960; text-decoration: none; }

.btn-link span { font-family: 'Fira Sans'; font-weight: 400; font-size: 14px; }

.landing-features { margin: 0 35px; width: auto; }

.landing-features.wrapper { width: auto; }

.landing-features .intro { padding: 100px 0 30px; }

.landing-feature { width: 100%; padding: 0 40px 35px; margin: 0 0 50px; border-radius: 3px; color: rgba(255, 255, 255, 0.8); text-align: center; }

.landing-feature.design { background: #4daaf2; }

.landing-feature.development { background: #36ceb0; }

.landing-feature.support { background: #7259cd; }

.landing-feature .icon { width: 62px; height: auto; margin: -30px auto 20px; border-radius: 100%; -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1); }

.landing-feature p { max-width: 550px; margin: 0 auto; }

.landing-feature span { display: block; margin-top: 10px; font-size: 12px; font-weight: 500; letter-spacing: 1px; text-transform: uppercase; }

.landing-about { position: relative; width: 100%; z-index: 1; }

.landing-about .wrapper { position: relative; margin: 0 35px; width: auto; z-index: 3; }

.landing-about .intro { width: 100%; padding: 50px 0; margin: 0; color: rgba(255, 255, 255, 0.8); z-index: 3; }

.landing-about .intro h3 { font-size: 23px; line-height: 1.4em; color: #fff; z-index: 3; }

.landing-about .intro p { font-size: 17px; line-height: 1.4em; z-index: 3; }

.landing-about .btn { color: #f36d43; }

.landing-about .bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 1; background: #f36d43; }

.landing-about .bg .white { background: #fff; }

.about-image { position: relative; width: 100%; height: 400px; margin: 50px 0 0; border-radius: 4px; -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.2); overflow: hidden; }

.about-image img { position: absolute; display: block; width: auto; height: 400px; left: -25px; top: 0; z-index: 2; }

.about-image p { position: absolute; left: 35px; bottom: 35px; margin: 0; color: #fff; font-size: 35px; line-height: 1em; font-weight: 400; font-family: 'Fira Sans'; text-transform: lowercase; z-index: 2; }

.footer-top { padding: 80px 0 45px; background: #262c33; }

.footer-top > div { width: 1000px; margin: 0 auto; }

.footer-columns { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer-columns h6 { font-family: 'Lato'; font-weight: 300; font-size: 13px; letter-spacing: 1px; text-transform: uppercase; margin: 0 0 5px; }

.footer-col-1 { display: inline-block; width: 20%; margin-bottom: 25px; }

.footer-col-1 h6 { color: #50abf1; }

.footer-col-2 { width: 20%; display: inline-block; }

.footer-col-2 h6 { color: #b169cd; }

.footer-col-3 { width: 20%; display: inline-block; }

.footer-col-3 h6 { color: #e8724d; }

.footer-col-4 { width: 45%; margin-left: 5%; display: inline-block; }

.footer-col-4 h6:nth-of-type(1) { color: #6cb051; }

.footer-col-4 h6:nth-of-type(2) { color: #d63d6c; }

.footer-col-4 p { font-family: 'Lato'; font-weight: 300; font-size: 14px; line-height: 22px; margin: 0 0 20px; color: #c8ced5; }

.footer-col-4 form { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; position: relative; margin-bottom: 30px; border-radius: 4px; overflow: hidden; }

.footer-col-4 form input { width: 75%; height: 50px; padding: 0 18px; background: #1e2329; color: #fff; border: none; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Lato'; font-weight: 300; font-size: 14px; }

.footer-col-4 form button { width: 25%; height: 50px; padding: 0; border: none; text-align: center; display: block; background: #6cb051; color: #fff; font-family: 'Fira Sans'; font-weight: 500; line-height: 50px; font-size: 14px; letter-spacing: 1px; position: relative; cursor: pointer; text-transform: uppercase; -webkit-transition: all .5s ease; transition: all .5s ease; }

.footer-col-4 form h6 { color: #d63d6c; }

.footer-col-4 form p { font-family: 'Lato'; font-weight: 300; font-size: 14px; line-height: 22px; margin: 0 0 20px; color: #c8ced5; }

.footer-col-4 form p a { text-decoration: none; color: inherit; outline: 0; }

.footer-links { margin: 0; padding: 0; list-style-type: none; font-size: 14px; line-height: 22px; font-family: 'Lato'; font-weight: 300; }

.footer-links li { margin: 0 0 2px; }

.footer-links li a { color: #fff; text-decoration: none; outline: 0; }

.footer-accreditations { padding: 52px 0; background: #22272e; }

.footer-bottom { padding: 25px 0; background: #1c2127; }

.footer-bottom > div { width: 1000px; margin: 0 auto; }

.footer-bottom p { font-family: 'Lato'; font-weight: 300; letter-spacing: 1px; color: #c8ced5; font-size: 12px; margin: 0 0 20px; }

.footer-bottom .space { width: 100%; height: 1px; margin: 0 10px; color: #4a525c; }

.footer-bottom .highlight { color: #e3ebf5; }
