html { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width: 100vw; }

body { margin: 0; overflow-x: hidden; width: 100vw; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

* { background-repeat: no-repeat; padding: 0; margin: 0; }

*, ::before, ::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

::before, ::after { text-decoration: inherit; vertical-align: inherit; }

audio:not([controls]) { display: none; height: 0; }

hr { overflow: visible; border: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, menu, nav, section, summary { display: block; }

summary { display: list-item; }

small { font-size: 80%; }

[hidden], template { display: none; }

abbr[title] { border-bottom: 1px dotted; text-decoration: none; }

a { background-color: transparent; -webkit-text-decoration-skip: objects; }

a:active, a:hover { outline-width: 0; }

b, strong { font-weight: bolder; }

dfn { font-style: italic; }

mark { background-color: #ff0; color: #000; }

sub, sup { font-size: 75%; line-height: 0; position: relative; veritcal-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

button, [type="button"], [type="reset"], [type="submit"], [role="button"] { cursor: pointer; }

[disabled] { cursor: default; }

[type="search"] { -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-apearance: none; }

textarea { overflow: auto; resize: vertical; }

input, optgroup, select, textarea { font: inherit; }

outgroup { font-weight: bold; }

select { -moz-appearance: none; -webkit-appearance: none; }

select::-ms-expand { display: none; }

legend { border: 0; color: inherit; display: table; max-width: 100%; white-space: normal; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

img { border-style: none; }

progress { vertical-align: baseline; }

svg:not(:root) { overflow: hidden; }

audio, canvas, progress, video { display: inline-block; }

@media screen { [hidden~="screen"] { display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) { position: absolute !important; clip: rect(0, 0, 0, 0) !important; } }

[aria-busy="true"] { cursor: progress; }

[aria-controls] { cursor: pointer; }

[aria-disabled] { cursor: default; }

::-moz-focus-inner { padding: 0; border: 0; }

button { background: none; border: none; }

.keyword { color: #b2def7; }

.title { color: #5bf3c0; }

.paren { color: #b2def7; }

.function-input { color: #fdbc40; }

.function { color: #b2def7; }

.this { color: #fdbc40; }

.return { color: #fc635d; }

.arrow-function { color: #fc635d; }

.variable { color: #5bf3c0; }

.variable-assign { color: #b2def7; }

.dot { color: #b2def7; }

.operator { color: #b2def7; }

.type { color: #fc635d; }

.button-link { display: inline-block; width: 235px; padding: 15px 0; text-align: center; border-radius: 2px; color: #2c4960; text-transform: uppercase; position: relative; cursor: pointer; -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); -webkit-transition: all .5s ease; transition: all .5s ease; cursor: pointer; overflow: hidden; text-decoration: none; }

.button-link span { position: relative; z-index: 3; display: block; -webkit-transition: all .5s ease; transition: all .5s ease; font-family: 'Fira Sans'; font-weight: 400; font-size: 14px; letter-spacing: 1px; }

.button-link:before, .button-link:after { content: ""; position: absolute; top: -250px; right: -250px; width: 500px; height: 500px; background: rgba(0, 0, 0, 0.15); border-radius: 100%; opacity: 1; z-index: 1; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transition: all .5s ease; transition: all .5s ease; }

.button-link:after { background: inherit; z-index: 2; -webkit-transition-delay: 0.15s; transition-delay: 0.15s; }

.button-link:hover { -webkit-box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.25); }

.button-link:hover span { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.button-link:hover:before, .button-link:hover:after { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.landing-main-header { position: relative; height: 100vh; width: 100%; background-image: url("../images/landing-main-header-background.jpg"); background-position: 0 50%; background-size: cover; }

.landing-main-header-overlay { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100%; width: 35%; text-align: center; margin: 0 auto; }

.landing-main-header-overlay h1 { color: #fff; font-family: 'Fira Sans'; font-weight: 500; font-size: 40px; width: 90%; line-height: 52px; margin-bottom: 20px; }

.landing-main-header-overlay p { color: #fff; font-family: 'Geomanist'; font-weight: normal; font-size: 17px; line-height: 24px; text-align: center; }

.landing-main-header-overlay p:nth-of-type(1) { margin-bottom: 20px; }

.landing-main-header-overlay a { display: inline-block; position: relative; cursor: pointer; width: 235px; padding: 15px 0; border-radius: 2px; margin-top: 45px; background: #fff; color: #2c4960; -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); text-decoration: none; overflow: hidden; }

.landing-main-header-overlay a:before, .landing-main-header-overlay a:after { content: ""; position: absolute; top: -250px; right: -250px; width: 500px; height: 500px; opacity: 1; border-radius: 100%; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transition: all .5s ease; transition: all .5s ease; z-index: 1; }

.landing-main-header-overlay a:before { background: #dbefff; }

.landing-main-header-overlay a:after { background: inherit; z-index: 2; -webkit-transition-delay: .15s; transition-delay: .15s; }

.landing-main-header-overlay a:hover { -webkit-box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.25); }

.landing-main-header-overlay a:hover:before, .landing-main-header-overlay a:hover:after { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }

.landing-main-header-overlay a span { display: block; position: relative; font-family: 'Fira Sans'; font-weight: 500; font-size: 14px; letter-spacing: 1px; text-transform: uppercase; -webkit-transition: all .5s ease; transition: all .5s ease; z-index: 3; }

.landing-features-list { width: 1000px; margin: 0 auto; }

.landing-features-list > div:nth-of-type(1) { display: -webkit-box; display: -ms-flexbox; display: flex; width: 108%; margin: 0 0 0 -4%; padding: 150px 0 60px; }

.landing-feature { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; width: 25.333%; margin: 0 4%; color: #8895a6; }

.landing-feature h2 { font-family: 'Fira Sans'; font-weight: 400; letter-spacing: -.03em; font-size: 20px; margin: 20px 0 10px; color: #1b222a; }

.landing-feature p { font-family: 'Lato'; font-size: 17px; line-height: 1.55em; font-weight: 300; color: #8895a6; }

.landing-feature span { display: block; margin-top: 10px; font-family: 'Lato'; font-weight: 500; letter-spacing: 1px; font-size: 12px; line-height: 15px; cursor: pointer; }

.landing-feature .icon { display: block; width: 62px; height: auto; border-radius: 100%; }

.landing-feature.design span { color: #4daaf2; }

.landing-feature.development span { color: #36ceb0; }

.landing-feature.support span { color: #7259cd; }

.icon.design { background: #4daaf2; }

.icon.development { background: #36ceb0; }

.icon.support { background: #7259cd; }

.landing-about { position: relative; z-index: 1; }

.landing-about-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; width: 1000px; margin: 0 auto; z-index: 3; }

.landing-about-image { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; width: 50%; height: 650px; margin: 150px 0; border-radius: 4px; -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.2); overflow: hidden; }

.landing-about-image img { position: absolute; width: auto; height: 650px; left: -75.6513px; top: 0; display: block; z-index: 1; }

.landing-about-image p { position: absolute; margin: 0; bottom: 50px; left: 50px; z-index: 2; color: #fff; line-height: 72px; font-weight: 500; font-family: 'Lato'; font-size: 65px; }

.landing-about-text { width: 40%; margin-right: 2%; margin-left: 5%; padding-top: 280px; }

.landing-about-text h3 { font-family: 'Fira Sans'; font-weight: 400; font-size: 26px; line-height: 42px; color: #fff; margin: 0 0 20px; }

.landing-about-text p { font-family: 'Geomanist'; font-weight: normal; font-size: 17px; line-height: 26px; margin: 0 0 20px; color: #cbe6fb; width: 95%; }

.landing-about-text a { display: inline-block; text-decoration: none; width: 235px; margin-top: 15px; padding: 15px 0; font-family: 'Fira Sans'; font-weight: 400; font-size: 14px; text-align: center; text-transform: uppercase; letter-spacing: 1px; position: relative; cursor: pointer; -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); border-radius: 2px; -webkit-transition: all .5s ease; transition: all .5s ease; background: #fff; overflow: hidden; color: #5fade9; }

.landing-about-text a:before, .landing-about-text a:after { content: ''; position: absolute; top: -250px; right: -250px; width: 500px; height: 500px; border-radius: 100%; z-index: 1; opacity: 1; -webkit-transition: all .5s ease; transition: all .5s ease; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

.landing-about-text a:before { background: #dbefff; }

.landing-about-text a:after { background: inherit; z-index: 2; -webkit-transition-delay: .15s; transition-delay: .15s; }

.landing-about-text a span { position: relative; display: block; z-index: 3; -webkit-transition: all .5s ease; transition: all .5s ease; }

.landing-about-text a:hover { -webkit-box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.25); }

.landing-about-text a:hover:before, .landing-about-text a:hover:after { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }

.landing-about-text a:hover span { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.landing-about-background { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: #5fade9; }

.band { position: absolute; width: 140%; height: 800px; z-index: 1; }

.first-band { right: 0; top: -800px; background: #fff; -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); -webkit-transform-origin: bottom right; -ms-transform-origin: bottom right; transform-origin: bottom right; }

.second-band { right: 0; top: 33.333%; width: 60%; height: 33.333%; background: -webkit-gradient(linear, left top, right top, color-stop(0, #5fade9), to(#5aa8e4)); background: -webkit-linear-gradient(left, #5fade9 0, #5aa8e4 100%); background: linear-gradient(to right, #5fade9 0, #5aa8e4 100%); -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); -webkit-transform-origin: top right; -ms-transform-origin: top right; transform-origin: top right; }

.third-band { right: 0; top: 66.666%; height: 33.333%; width: 75%; background: -webkit-gradient(linear, left top, right top, color-stop(0, #5fade9), to(#54a2de)); background: -webkit-linear-gradient(left, #5fade9 0, #54a2de 100%); background: linear-gradient(to right, #5fade9 0, #54a2de 100%); -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); -webkit-transform-origin: top right; -ms-transform-origin: top right; transform-origin: top right; }

.landing-design-section { position: relative; padding: 140px 0 110px; background: #2b3643; z-index: 1; }

.landing-design-section > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; margin: 0 auto; width: 50%; z-index: 3; }

.landing-design-text { width: 55%; }

.landing-design-text > h3 { font-family: 'Lato'; font-size: 25px; font-weight: 300; color: #fff; line-height: 35px; margin-bottom: 36px; }

.landing-design-text > p { font-family: 'Lato'; font-weight: 300; font-size: 19px; line-height: 24px; margin-bottom: 28px; color: #a0b1c5; }

.landing-design-text > p:nth-of-type(2) { margin-bottom: 35px; }

.landing-design-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 0 30px; }

.landing-design-header > img { display: block; width: 62px; border-radius: 100%; background: #4daaf2; margin-right: 18px; }

.landing-design-header h2 { font-family: 'Fira Sans'; font-weight: 400; line-height: 28px; font-size: 26px; color: #62a0d1; }

.button-link.landing-design-button { background: #4daaf2; color: #fff; }

.landing-design-phone { position: relative; width: 325px; height: 600px; padding: 65px 15px; background: #11161d; -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.3); border-radius: 25px; opacity: 1; -webkit-transform: translate(120px, -235px); -ms-transform: translate(120px, -235px); transform: translate(120px, -235px); }

.landing-design-phone .phone-camera { position: absolute; display: block; top: 29px; left: 50%; width: 7px; height: 7px; border-radius: 100%; background: #000; margin-left: -48px; }

.landing-design-phone .phone-speaker { position: absolute; top: 31px; left: 50%; display: block; width: 44px; height: 3px; border-radius: 4px; margin-left: -22px; background: #000; }

.landing-design-phone .phone-shadow { width: 295px; height: 460px; position: absolute; top: 65px; left: 15px; z-index: 2; pointer-events: none; -webkit-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.75); box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.75); }

.phone-screen { width: 295px; height: 460px; background: #000; overflow: hidden; position: relative; margin-right: 0; }

.phone-screen-inner { width: 100%; height: 100%; position: relative; overflow: hidden; z-index: 1; }

.phone-screen-inner .slide { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; -webkit-box-shadow: 0 0 100px 0 black; box-shadow: 0 0 100px 0 black; z-index: 1; -webkit-transition: left 1s ease-in-out; transition: left 1s ease-in-out; }

.phone-screen-inner .slide img { width: 100%; position: relative; display: block; pointer-events: none; }

.phone-button { display: block; position: absolute; bottom: 22px; left: 50%; background: #000; width: 30px; height: 30px; margin-left: -12px; border-radius: 100%; }

.landing-development-section { position: relative; padding: 120px 0 20px; background: #1b222a; z-index: 4; }

.landing-development-section > div { width: 60%; margin: 0 auto; }

.landing-development-text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.landing-development-text h3 { font-family: 'Lato'; font-weight: 300; font-size: 25px; line-height: 34px; margin-bottom: 36px; color: #fff; width: 70%; text-align: center; }

.landing-development-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; margin-bottom: 25px; }

.landing-development-header img { width: 62px; height: auto; display: block; border-radius: 100%; pointer-events: none; background: #36ceb0; margin-right: 12px; }

.landing-development-header h2 { font-family: 'Fira Sans'; font-weight: 400; font-size: 22px; line-height: 26px; color: #9ed9c4; }

.landing-development-bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.landing-development-bottom > div:nth-of-type(1) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 35%; margin-left: 2.5%; }

.landing-development-bottom p { font-family: 'Lato'; font-weight: 300; font-size: 19px; line-height: 26px; margin-bottom: 24px; color: #a0b1c5; }

.development-button { background: #36ceb0; color: #fff; }

.development-code { width: 65%; height: 610px; margin-right: 2.5%; background: #232b35; border-radius: 3px; overflow: hidden; z-index: 4; -webkit-transition: opacity 0.75s ease, -webkit-transform 0.75s ease; transition: opacity 0.75s ease, -webkit-transform 0.75s ease; transition: opacity 0.75s ease, transform 0.75s ease; transition: opacity 0.75s ease, transform 0.75s ease, -webkit-transform 0.75s ease; position: relative; -webkit-transform: translateY(80px); -ms-transform: translateY(80px); transform: translateY(80px); }

.development-code-top { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; background: #1e252e; height: 44px; z-index: 5; }

.development-code-top > span { width: 13px; height: 13px; margin: 0 6px; display: block; border-radius: 100%; }

.development-code-top .red { margin-left: 18px; background: #fc635d; }

.development-code-top .yellow { background: #fdbc40; }

.development-code-top .green { background: #34c84a; }

.editor-shadow-right { position: absolute; bottom: 0; right: 0; pointer-events: none; width: 140px; height: 100%; z-index: 3; background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(35, 43, 53, 0)), color-stop(90%, #232b35)); background: -webkit-linear-gradient(left, rgba(35, 43, 53, 0) 0, #232b35 90%); background: linear-gradient(to right, rgba(35, 43, 53, 0) 0, #232b35 90%); }

.editor-shadow-bottom { position: absolute; bottom: 0; right: 0; pointer-events: none; width: 100%; height: 140px; z-index: 3; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(35, 43, 53, 0)), color-stop(90%, #232b35)); background: -webkit-linear-gradient(top, rgba(35, 43, 53, 0) 0, #232b35 90%); background: linear-gradient(to bottom, rgba(35, 43, 53, 0) 0, #232b35 90%); }

.editor-code .first { text-align: left; white-space: pre-line; margin-top: 10px; margin-left: 15px; }

.landing-support-section { position: relative; z-index: 1; padding: 150px 0 100px; }

.landing-support-section > div:nth-of-type(1) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; z-index: 3; width: 56%; margin: 0 auto; }

.landing-support-intro { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 64%; margin-bottom: 30px; }

.landing-support-intro h3 { font-family: 'Lato'; font-weight: 300; font-size: 25px; color: #fff; line-height: 30px; margin-bottom: 20px; }

.landing-support-intro p { font-family: 'Lato'; font-weight: 300; font-size: 25px; color: #a0b1c5; line-height: 30px; margin-bottom: 20px; }

.landing-support-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; margin-bottom: 35px; }

.landing-support-header img { height: 62px; display: block; border-radius: 100%; pointer-events: none; margin-right: 12px; background: #7259cd; }

.landing-support-header h2 { color: #d1c7f3; font-family: 'Fira Sans'; font-weight: 400; font-size: 24px; line-height: 32px; }

.messages-container { width: 300px; margin-left: 5%; }

.message { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 28px; padding: 0 0 0 45px; position: relative; }

.message img { position: absolute; top: 0; left: 0; width: 25px; height: auto; display: block; -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); }

.message.alt { padding: 0 45px 0 0; left: -25px; }

.message.alt .message-content { background: #fff; }

.message.alt .message-content .arrow { left: auto; right: -6px; border-left: 8px solid #fff; border-right: none; }

.message.alt .message-content .text-title { width: 60%; background: #778ca4; }

.message.alt .message-content .text { backgrund: #abbdd1; }

.message.alt .message-content .text:nth-of-type(3) { -webkit-transition-delay: .3s; transition-delay: .3s; }

.message.alt .message-content .text:nth-of-type(4) { width: 75%; -webkit-transition-delay: .4s; transition-delay: .4s; }

.message.alt .message-content .text:nth-of-type(5) { width: 70%; -webkit-transition-delay: .5s; transition-delay: .5s; }

.message.alt .message-content .text:nth-of-type(6) { width: 65%; -webkit-transition-delay: .6s; transition-delay: .6s; }

.message.alt .message-content .text:nth-of-type(7) { width: 52%; -webkit-transition-delay: .7s; transition-delay: .7s; }

.message.alt .message-content .text:nth-of-type(8) { width: 60%; transition-dekay: .8s; }

.message.alt .message-content .text:nth-of-type(9) { width: 40%; -webkit-transition-delay: .9s; transition-delay: .9s; }

.message-content { position: relative; background: #7259cd; border-radius: 3px; padding: 20px 20px 12px; -webkit-box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.2); }

.arrow { width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 8px solid #7259cd; display: block; position: absolute; top: 7px; left: -6px; }

.text { width: 30px; height: 5px; margin-bottom: 8px; background: #5d43b2; display: block; border-radius: 3px; -webkit-transition: all .5s ease; transition: all .5s ease; }

.text:nth-of-type(2) { -webkit-transition-delay: .2s; transition-delay: .2s; width: 50%; }

.text:nth-of-type(3) { width: 60%; }

.text:nth-of-type(4) { width: 65%; }

.text:nth-of-type(5) { width: 62%; }

.text:nth-of-type(6) { width: 70%; }

.text:nth-of-type(7) { width: 50%; }

.text.title { width: 70%; margin-bottom: 12px; background: #4b3892; }

.support-background { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: #2b3642; }

.support-background > span { width: 140%; height: 800px; position: absolute; background: #fff; left: 0; z-index: 1; bottom: -800px; -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; }

.landing-help { position: relative; padding: 60px 0 175px; z-index: 2; }

.landing-help > div:nth-of-type(1) { width: 750px; margin: 0 auto; }

.landing-help-content { position: relative; background: #fff; overflow: hidden; padding: 60px 70px 50px; border-radius: 3px; -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.04); box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.04); z-index: 3; }

.landing-help-inner { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; z-index: 2; }

.landing-help-intro { width: 50%; z-index: 3; }

.landing-help-intro h3 { color: #64bbc5; font-size: 25px; font-family: 'Lato'; font-weight: 300; line-height: 29px; margin: 0 0 20px; }

.landing-help-intro p { font-size: 19px; font-weight: 300; line-height: 25px; font-family: 'Lato'; margin: 0 0 20px; color: #8895a6; }

.landing-help-links { width: 42%; padding: 15px 0 0; }

.landing-help-links a { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 55px; margin: 0 0 30px; padding: 0 0 0 75px; font-weight: 300; font-family: 'Lato'; font-size: 20px; line-height: 22px; text-decoration: none; color: #a0b1c5; }

.landing-help-links a img { position: absolute; top: 0; left: 0; height: 55px; width: auto; pointer-events: none; border-radius: 100%; background: #e7f8fa; }

.landing-help-links a img span { padding: 15px 0 0; display: block; }

.landing-help-bands { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.landing-help-band { width: 50%; height: 125px; position: absolute; top: 0; -webkit-transform-origin: bottom left; -ms-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); z-index: 1; }

.landing-help-band.band-1 { width: 60%; background: -webkit-gradient(linear, left top, right top, color-stop(30%, #ebf9fb), to(rgba(235, 249, 251, 0))); background: -webkit-linear-gradient(left, #ebf9fb 30%, rgba(235, 249, 251, 0) 100%); background: linear-gradient(to right, #ebf9fb 30%, rgba(235, 249, 251, 0) 100%); }

.landing-help-band.band-2 { width: 70%; top: 125px; background: -webkit-gradient(linear, left top, right top, color-stop(30%, #f8fcff), to(rgba(248, 252, 255, 0))); background: -webkit-linear-gradient(left, #f8fcff 30%, rgba(248, 252, 255, 0) 100%); background: linear-gradient(to right, #f8fcff 30%, rgba(248, 252, 255, 0) 100%); }

.landing-help-background { position: absolute; top: -170px; left: 0; overflow: hidden; width: 100%; height: 160%; z-index: 1; }

.landing-help-band-background { height: 240px; position: absolute; -webkit-transform-origin: top right; -ms-transform-origin: top right; transform-origin: top right; -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); right: 0; }

.background-band-1 { width: 50%; top: 0; background: -webkit-gradient(linear, left top, right top, color-stop(0, white), to(#f6f9fc)); background: -webkit-linear-gradient(left, white 0, #f6f9fc 100%); background: linear-gradient(to right, white 0, #f6f9fc 100%); }

.background-band-2 { width: 90%; top: 245px; background: -webkit-gradient(linear, left top, right top, color-stop(0, white), to(#e7f8fa)); background: -webkit-linear-gradient(left, white 0, #e7f8fa 100%); background: linear-gradient(to right, white 0, #e7f8fa 100%); }

.background-band-3 { width: 70%; top: 490px; opacity: 0.8; background: -webkit-gradient(linear, left top, right top, color-stop(0, white), to(#f6f9fc)); background: -webkit-linear-gradient(left, white 0, #f6f9fc 100%); background: linear-gradient(to right, white 0, #f6f9fc 100%); }

.landing-contact { position: relative; z-index: 2; }

.landing-contact > div:nth-of-type(1) { width: 1000px; margin: 0 auto; }

.landing-contact-intro { width: 90%; max-width: 600px; text-align: center; margin: 0 auto; margin-bottom: 80px; }

.landing-contact-intro h2 { font-family: 'Fira Sans'; font-weight: 400; letter-spacing: -.03em; font-size: 25.5px; margin: 0 0 20px; color: #262c33; }

.landing-contact-intro p { margin: 0 0 20px; font-family: 'Lato'; font-weight: 300; font-size: 19px; line-height: 28px; color: #8895a6; }

.landing-contact-form { position: relative; width: 100%; }

.landing-contact-form > div:nth-of-type(1) { position: relative; width: 1000px; margin: 0 auto; z-index: 2; }

.contact-form { padding: 120px 120px 55px; background: #fff; border-radius: 4px; -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.1); }

.form-fields { width: 106%; margin: 0 0 0 3%; }

.field { position: relative; width: 25.333%; min-height: 120px; display: inline-block; margin: 0 3%; }

.field.full { width: 94%; }

.field.full textarea { width: 95%; }

.field label { display: block; font-size: 12px; font-family: 'Lato'; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; margin: 0 0 5px; color: #617082; }

.field input { width: 100%; height: 45px; padding: 0 18px; border: none; border-radius: 4px; background: #d8dbde; -webkit-box-sizing: border-box; box-sizing: border-box; color: #262c33; font-size: 13px; outline: 0; font-weight: 300; font-family: 'Lato'; }

.field textarea { max-width: 100%; height: 200px; max-height: 200px; margin-bottom: 55px; padding: 14px 18px; border: none; border-radius: 4px; background: #d8dbde; -webkit-box-sizing: border-box; box-sizing: border-box; color: #262c33; font-size: 13px; outline: none; font-family: 'Lato'; font-weight: 300; }

.field button { width: 100%; background: #6cb051; padding: 20px 0; border: none; text-align: center; display: inline-block; border-radius: 2px; color: #fff; font-size: 12; text-transform: uppercase; -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); cursor: pointer; -webkit-transition: all .5s ease; transition: all .5s ease; font-familly: 'Lato'; font-weight: 300; }

.field button span { display: block; position: relative; z-index: 3; -webkit-transition: all .5s ease; transition: all .5s ease; }

.landing-contact-background { position: absolute; bottom: -1px; left: 0; height: 90%; width: 100%; background: #6cb051; z-index: 1; overflow: hidden; -webkit-transform: translateZ(0); transform: translateZ(0); }

.landing-contact-background .contact-band { width: 140%; height: 800px; position: absolute; z-index: 1; -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); }

.landing-contact-background .contact-band-1 { background: #fff; right: 0; top: -800px; -webkit-transform-origin: bottom right; -ms-transform-origin: bottom right; transform-origin: bottom right; }

.landing-contact-background .contact-band-2 { background: #262c33; left: 0; bottom: -800px; -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; }

@media (-webkit-min-device-pixel-ration: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { .button-link:hover { -webkit-transform: scale(1.05) translateZ(0); transform: scale(1.05) translateZ(0); }
  .button-link:hover span { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); } }

.footer-top { padding: 80px 0 45px; background: #262c33; }

.footer-top > div { width: 1000px; margin: 0 auto; }

.footer-columns { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer-columns h6 { font-family: 'Lato'; font-weight: 300; font-size: 13px; letter-spacing: 1px; text-transform: uppercase; margin: 0 0 5px; }

.footer-col-1 { display: inline-block; width: 20%; margin-bottom: 25px; }

.footer-col-1 h6 { color: #50abf1; }

.footer-col-2 { width: 20%; display: inline-block; }

.footer-col-2 h6 { color: #b169cd; }

.footer-col-3 { width: 20%; display: inline-block; }

.footer-col-3 h6 { color: #e8724d; }

.footer-col-4 { width: 45%; margin-left: 5%; display: inline-block; }

.footer-col-4 h6:nth-of-type(1) { color: #6cb051; }

.footer-col-4 h6:nth-of-type(2) { color: #d63d6c; }

.footer-col-4 p { font-family: 'Lato'; font-weight: 300; font-size: 14px; line-height: 22px; margin: 0 0 20px; color: #c8ced5; }

.footer-col-4 form { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; position: relative; margin-bottom: 30px; border-radius: 4px; overflow: hidden; }

.footer-col-4 form input { width: 75%; height: 50px; padding: 0 18px; background: #1e2329; color: #fff; border: none; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Lato'; font-weight: 300; font-size: 14px; }

.footer-col-4 form button { width: 25%; height: 50px; padding: 0; border: none; text-align: center; display: block; background: #6cb051; color: #fff; font-family: 'Fira Sans'; font-weight: 500; line-height: 50px; font-size: 14px; letter-spacing: 1px; position: relative; cursor: pointer; text-transform: uppercase; -webkit-transition: all .5s ease; transition: all .5s ease; }

.footer-col-4 form h6 { color: #d63d6c; }

.footer-col-4 form p { font-family: 'Lato'; font-weight: 300; font-size: 14px; line-height: 22px; margin: 0 0 20px; color: #c8ced5; }

.footer-col-4 form p a { text-decoration: none; color: inherit; outline: 0; }

.footer-links { margin: 0; padding: 0; list-style-type: none; font-size: 14px; line-height: 22px; font-family: 'Lato'; font-weight: 300; }

.footer-links li { margin: 0 0 2px; }

.footer-links li a { color: #fff; text-decoration: none; outline: 0; }

.footer-accreditations { padding: 52px 0; background: #22272e; }

.footer-bottom { padding: 25px 0; background: #1c2127; }

.footer-bottom > div { width: 1000px; margin: 0 auto; }

.footer-bottom p { font-family: 'Lato'; font-weight: 300; letter-spacing: 1px; color: #c8ced5; font-size: 12px; margin: 0 0 20px; }

.footer-bottom .space { width: 100%; height: 1px; margin: 0 10px; color: #4a525c; }

.footer-bottom .highlight { color: #e3ebf5; }
