html { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width: 100vw; }

body { margin: 0; overflow-x: hidden; width: 100vw; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

* { background-repeat: no-repeat; padding: 0; margin: 0; }

*, ::before, ::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

::before, ::after { text-decoration: inherit; vertical-align: inherit; }

audio:not([controls]) { display: none; height: 0; }

hr { overflow: visible; border: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, menu, nav, section, summary { display: block; }

summary { display: list-item; }

small { font-size: 80%; }

[hidden], template { display: none; }

abbr[title] { border-bottom: 1px dotted; text-decoration: none; }

a { background-color: transparent; -webkit-text-decoration-skip: objects; }

a:active, a:hover { outline-width: 0; }

b, strong { font-weight: bolder; }

dfn { font-style: italic; }

mark { background-color: #ff0; color: #000; }

sub, sup { font-size: 75%; line-height: 0; position: relative; veritcal-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

button, [type="button"], [type="reset"], [type="submit"], [role="button"] { cursor: pointer; }

[disabled] { cursor: default; }

[type="search"] { -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-apearance: none; }

textarea { overflow: auto; resize: vertical; }

input, optgroup, select, textarea { font: inherit; }

outgroup { font-weight: bold; }

select { -moz-appearance: none; -webkit-appearance: none; }

select::-ms-expand { display: none; }

legend { border: 0; color: inherit; display: table; max-width: 100%; white-space: normal; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

img { border-style: none; }

progress { vertical-align: baseline; }

svg:not(:root) { overflow: hidden; }

audio, canvas, progress, video { display: inline-block; }

@media screen { [hidden~="screen"] { display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) { position: absolute !important; clip: rect(0, 0, 0, 0) !important; } }

[aria-busy="true"] { cursor: progress; }

[aria-controls] { cursor: pointer; }

[aria-disabled] { cursor: default; }

::-moz-focus-inner { padding: 0; border: 0; }

button { background: none; border: none; }

.keyword { color: #b2def7; }

.title { color: #5bf3c0; }

.paren { color: #b2def7; }

.function-input { color: #fdbc40; }

.function { color: #b2def7; }

.this { color: #fdbc40; }

.return { color: #fc635d; }

.arrow-function { color: #fc635d; }

.variable { color: #5bf3c0; }

.variable-assign { color: #b2def7; }

.dot { color: #b2def7; }

.operator { color: #b2def7; }

.type { color: #fc635d; }

body { background: #fff; color: #8895a6; font-size: 17px; line-height: 1.55em; }

h1, h2, h3, h4, h5, h6 { font-family: 'Fira Sans'; font-weight: 400; margin: 0 0 20px; }

p, span { font-family: 'Lato'; font-weight: 300; }

p { margin: 0 0 20px; }

.wrapper { margin: 0 35px; width: auto; }

.wrapper.standard { width: auto; margin: 0 35px; }

.band { position: absolute; width: 140%; height: 800px; z-index: 1; }

.band.rotate_c { -webkit-transform: rotate(12deg); -ms-transform: rotate(12deg); transform: rotate(12deg); }

.band.rotate_cc { -webkit-transform: rotate(-12deg); -ms-transform: rotate(-12deg); transform: rotate(-12deg); }

.band.rotate_c.offset { -webkit-transform: rotate(5deg); -ms-transform: rotate(5deg); transform: rotate(5deg); }

.band.rotate_cc.offset { -webkit-transform: rotate(-5deg); -ms-transform: rotate(-5deg); transform: rotate(-5deg); }

.band.origin_tl { -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; }

.band.origin_tr { -webkit-transform-origin: top right; -ms-transform-origin: top right; transform-origin: top right; }

.band.origin_bl { -webkit-transform-origin: bottom left; -ms-transform-origin: bottom left; transform-origin: bottom left; }

.band.origin_br { -webkit-transform-origin: bottom right; -ms-transform-origin: bottom right; transform-origin: bottom right; }

.band.top { top: -800px; }

.band.bottom { bottom: -800px; }

.band.right { right: 0; }

.band.left { left: 0; }

.btn { position: relative; width: 235px; padding: 15px 0; background: #4daaf2; color: #fff; -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1); border-radius: 2px; font-size: 12px; text-align: center; overflow: hidden; text-transform: uppercase; cursor: pointer; -webkit-transition: all .4s ease; transition: all .4s ease; }

.btn > span { position: relative; display: block; -webkit-transition: all .5s ease; transition: all .5s ease; z-index: 3; }

.btn:hover { -webkit-box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.23); box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.23); }

.btn:hover:after, .btn:hover:before { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.btn:before, .btn:after { content: ""; position: absolute; top: -250px; right: -250px; width: 500px; height: 500px; background: rgba(0, 0, 0, 0.15); border-radius: 100%; opacity: 1; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transition: all .5s ease; transition: all .5s ease; z-index: 1; }

.btn:after { background: inherit; -webkit-transition-delay: .15s; transition-delay: .15s; z-index: 2; }

.intro header { position: relative; min-height: 62px; padding-left: 88px; margin: 0 0 30px; }

.intro header .icon { position: absolute; top: 0; left: 0; display: block; height: auto; width: 62px; border-radius: 100%; pointer-events: none; }

.intro header h2 { padding: 7px 0 0; margin: 0; color: #fff; font-size: 30px; line-height: 1.5em; text-transform: lowercase; }

.intro header h2 a { color: inherit; text-decoration: none; }

.intro header h3, .intro header p { line-height: 1.5em; }

.intro header h3 { font-size: 25px; color: #fff; }

.intro header p { font-size: 19px; }

.intro header p a { color: inerhit; text-decoration: none; border-bottom: 1px #fff dotted; }

.intro header p a:hover { border-bottom-style: solid; }

.icon.design { background: #4daaf2; }

.icon.development { background: #36ceb0; }

.icon.support { background: #7259cd; }

@media screen and (min-width: 500px) { .wrapper { width: auto; margin: 0 50px; } }

@media screen and (min-width: 1100px) { .wrapper.narrow { width: 750px; margin: 0 auto; }
  .wrapper.standard { width: 1000px; margin: 0 auto; }
  .wrapper.wide { width: 1100px; margin: 0 auto; } }

.nav { position: fixed; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; background: transparent; height: 63px; z-index: 50; -webkit-transition: all .4s ease-out; transition: all .4s ease-out; }

.nav.--open { z-index: 150; background: transparent; }

.nav.--open .nav-left { display: none; }

.nav-left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 70px; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.nav-logo p { font-family: 'Fira Sans'; font-size: 22px; font-weight: 400; letter-spacing: 2px; margin-bottom: 0; color: #fff; }

.nav-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding-right: 70px; }

.nav-right .nav-item { display: none; }

.nav-right .nav-menu { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; -webkit-transition-property: opacity; transition-property: opacity; -webkit-transition-duration: 0.15s; transition-duration: 0.15s; -webkit-transition-timing-function: linear; transition-timing-function: linear; overflow: visible; padding: 15px; z-index: 120; outline: none; }

.nav-right .nav-menu .menu-box { width: 30px; height: 18px; display: inline-block; position: relative; }

.nav-right .nav-menu.is-active .menu-inner { -webkit-transition-delay: 0.22s; transition-delay: 0.22s; background-color: transparent; }

.nav-right .nav-menu.is-active .menu-inner:before { top: -2px; -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.62, 0.355, 1); transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.62, 0.355, 1); transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.62, 0.355, 1); transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.62, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.62, 0.355, 1); -webkit-transform: translate3d(0, 12px, 0) rotate(45deg); transform: translate3d(0, 12px, 0) rotate(45deg); }

.nav-right .nav-menu.is-active .menu-inner:after { top: -2px; -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transform: translate3d(0, 12px, 0) rotate(-45deg); transform: translate3d(0, 12px, 0) rotate(-45deg); }

.nav-right .menu-inner { display: block; height: 3px; top: 2px; background-color: #fff; -webkit-transition: background-color 0s 0.13s linear; transition: background-color 0s 0.13s linear; }

.nav-right .menu-inner:before, .nav-right .menu-inner:after { content: ""; display: block; height: 3px; width: 30px; background-color: #fff; border-radius: 4px; position: absolute; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; -webkit-transition-duration: 0.15s; transition-duration: 0.15s; -webkit-transition-timing-function: ease; transition-timing-function: ease; }

.nav-right .menu-inner:before { top: 6px; -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.nav-right .menu-inner:after { top: 12px; -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.nav-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 5px 25px; }

.nav-item a { text-decoration: none; cursor: pointer; color: #fff; font-family: 'Lato'; font-weight: 500; font-size: 13px; text-transform: uppercase; letter-spacing: 1px; -webkit-transition: color .4s ease-out; transition: color .4s ease-out; }

.nav.nav-pinned { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); background: #fff; }

.nav.nav-pinned.--open { background: transparent; }

.nav.nav-pinned .nav-logo p { color: #5b7180; }

.nav.nav-pinned a { color: #5b7180; -webkit-transition: color .4s ease-out; transition: color .4s ease-out; }

.nav.nav-pinned a:hover { color: #16232c; }

.nav.nav-pinned:not(.--open) .nav-right .nav-menu .menu-inner { background: #5fade9; }

.nav.nav-pinned:not(.--open) .nav-right .nav-menu .menu-inner:before, .nav.nav-pinned:not(.--open) .nav-right .nav-menu .menu-inner:after { background: #5fade9; }

.nav.nav-pinned .nav-right .nav-menu .menu-inner { background-color: transparent; }

.nav.nav-unpinned { -webkit-transform: translateY(-75px); -ms-transform: translateY(-75px); transform: translateY(-75px); }

@media screen and (min-width: 1100px) { .nav-right .nav-item { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .nav-right .nav-menu { display: none; } }

.mobile-menu-container { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; overflow: hidden; pointer-events: none; z-index: 99; }

.mobile-menu-container.--open { pointer-events: auto; }

.mobile-menu-container.--open .mobile-menu { opacity: 1; }

.mobile-menu-container.--open.--animatable .mobile-menu { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }

.mobile-menu { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; opacity: 0; background: #5fade9; -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; z-index: 100; }

.mobile-menu-list { padding-top: 160px; }

.mobile-menu-list li { padding: 15px 0; list-style-type: none; }

.mobile-menu-list li a { text-decoration: none; color: #fff; font-family: 'Fira Sans'; font-weight: 400; letter-spacing: 1.5px; font-size: 26px; }

.landing-header { position: relative; width: 100%; padding: 100px 0 60px; background-image: url("../images/landing-main-header-background.jpg"); background-position: 0 50%; background-size: cover; -webkit-transition: -webkit-transform .75s ease; transition: -webkit-transform .75s ease; transition: transform .75s ease; transition: transform .75s ease, -webkit-transform .75s ease; }

.header-content { font-size: 17px; line-height: 1.4em; text-align: center; }

.header-content h1 { margin-bottom: 22px; font-size: 30px; line-height: 40px; color: #fff; }

.header-content p { padding: 0; line-height: 26px; color: rgba(255, 255, 255, 0.9); }

.btn-link { display: inline-block; margin-top: 30px; background: #fff; color: #2c4960; text-decoration: none; }

.btn-link span { font-family: 'Fira Sans'; font-weight: 400; font-size: 14px; }

@media screen and (min-width: 800px) { .landing-header { padding: 120px 0 75px; }
  .header-content { width: 75%; margin: 0 auto; } }

@media screen and (min-width: 1200px) { .landing-header { padding: 160px 0 90px; }
  .header-content { width: 65%; } }

.landing-features { margin: 0 35px; width: auto; }

.landing-features.wrapper { width: auto; }

.landing-features .intro { padding: 100px 0 30px; }

.landing-feature { width: 100%; padding: 0 40px 35px; margin: 0 0 50px; border-radius: 3px; color: rgba(255, 255, 255, 0.8); text-align: center; }

.landing-feature.design { background: #4daaf2; }

.landing-feature.development { background: #36ceb0; }

.landing-feature.support { background: #7259cd; }

.landing-feature .icon { width: 62px; height: auto; margin: -30px auto 20px; border-radius: 100%; -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1); }

.landing-feature p { max-width: 550px; margin: 0 auto; }

.landing-feature span { display: block; margin-top: 10px; font-size: 12px; font-weight: 500; letter-spacing: 1px; text-transform: uppercase; }

@media screen and (min-width: 750px) { .landing-features .intro { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .landing-feature { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 15px; line-height: 1.5em; height: 350px; padding: 0; margin: 0 2%; text-align: left; }
  .landing-feature.design { background: none; }
  .landing-feature.development { background: none; }
  .landing-feature.support { background: none; }
  .landing-feature h2 { font-size: 17px; color: #1b222a; margin-top: 12px; }
  .landing-feature p { color: #8895a6; }
  .landing-feature .icon { margin: 0; display: block; } }

@media screen and (min-width: 1000px) { .landing-features .features { width: 90%; margin: 0 auto; } }

@media screen and (min-width: 1350px) { .landing-features .features { width: 60%; margin: 0 auto; } }

@media screen and (min-width: 1500px) { .landing-features { z-index: 5; }
  .landing-features .features .landing-feature { z-index: 7; margin: 0 4%; }
  .landing-features .features .landing-feature p { line-height: 24px; font-size: 17px; }
  .landing-features .features .landing-feature h2 { font-size: 19px; } }

.landing-about { position: relative; width: 100%; z-index: 1; }

.landing-about .wrapper { position: relative; z-index: 3; }

.landing-about .intro { width: 100%; padding: 50px 0; margin: 0; color: rgba(255, 255, 255, 0.8); z-index: 3; }

.landing-about .intro h3 { font-size: 23px; line-height: 1.4em; color: #fff; z-index: 3; }

.landing-about .intro p { font-size: 17px; line-height: 1.4em; z-index: 3; }

.landing-about .btn { color: #f36d43; }

.landing-about .bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 1; background: #f36d43; }

.landing-about .bg .white { background: #fff; }

.about-image { position: relative; width: 100%; height: 400px; margin: 50px 0 0; border-radius: 4px; overflow: hidden; }

.about-image img { position: absolute; display: block; width: auto; height: 400px; left: -25px; top: 0; z-index: 2; }

.about-image p { position: absolute; left: 35px; bottom: 35px; margin: 0; color: #fff; font-size: 35px; line-height: 42px; font-weight: 400; font-family: 'Fira Sans'; text-transform: lowercase; z-index: 2; }

@media screen and (min-width: 750px) { .about-image img { width: 100%; left: 0; } }

@media screen and (min-width: 1000px) { .landing-about .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .landing-about .intro { width: 50%; padding-top: 190px; padding-left: 90px; }
  .about-image { width: 40%; height: 550px; margin: 50px 0 150px; }
  .about-image img { height: 550px; } }

@media screen and (min-width: 1300px) { .landing-about .intro { width: 60%; margin-right: 2%; padding-top: 260px; padding-left: 0; }
  .landing-about .bg { height: 160%; top: -110px; }
  .landing-about .bg .white { top: -780px; trasnform: rotate(-9deg); }
  .about-image { display: none; } }

.landing-design-section { position: relative; padding: 80px 0; background: #2b3643; z-index: 1; }

.landing-design-section .wrapper { position: relative; z-index: 3; }

.landing-design-section .intro { width: 100%; color: #a0b1c5; }

.landing-design-section .intro h2 { padding: 0; margin: 0; color: #62a0d1; font-size: 22px; line-height: 1.1em; letter-spacing: -.03em; }

.landing-design-section .intro h3 { font-family: 'Lato'; font-weight: 500; color: #fff; }

.landing-design-section .intro .btn { background: #4daaf2; color: #fff; }

.landing-design-header { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 62px; padding-left: 88px; margin: 0 0 30px; }

.landing-design-header img { position: absolute; top: 0; left: 0; height: auto; width: 62px; background: #4daaf2; border-radius: 100%; pointer-events: none; }

.landing-design-header .icon { position: absolute; top: 0; left: 0; height: auto; width: 62px; background: #4daaf2; border-radius: 100%; pointer-events: none; }

.landing-design-phone { display: none; }

@media screen and (min-width: 1000px) { .landing-design-section { padding: 140px 0 110px; }
  .landing-design-section .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .landing-design-section .intro { width: 50%; }
  .landing-design-section .intro h3 { margin: 0 0 20px; font-size: 25px; line-height: 1.5em; }
  .landing-design-section .landing-design-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .landing-design-section .landing-design-header h2 { position: relative; max-width: 250px; top: 0; left: 0; }
  .landing-design-phone { position: relative; display: block; height: 600px; padding: 65px 15px; background: #11161d; -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.3); border-radius: 25px; opacity: 1; -webkit-transform: translate(90px, -198px); -ms-transform: translate(90px, -198px); transform: translate(90px, -198px); }
  .landing-design-phone .phone-camera { position: absolute; display: block; top: 29px; left: 50%; width: 7px; height: 7px; border-radius: 100%; background: #000; margin-left: -48px; }
  .landing-design-phone .phone-speaker { position: absolute; top: 31px; left: 50%; display: block; width: 44px; height: 3px; border-radius: 4px; margin-left: -22px; background: #000; }
  .landing-design-phone .phone-shadow { width: 295px; height: 460px; position: absolute; top: 65px; left: 15px; z-index: 2; pointer-events: none; -webkit-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.75); box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.75); }
  .phone-screen { width: 295px; height: 460px; background: #000; overflow: hidden; position: relative; margin-right: 0; }
  .phone-screen-inner { width: 100%; height: 100%; position: relative; overflow: hidden; z-index: 1; }
  .phone-screen-inner .slide { position: absolute; top: 0; left: 200%; width: 100%; height: 100%; overflow: hidden; -webkit-box-shadow: inset 0 0 100px 0 black; box-shadow: inset 0 0 100px 0 black; -webkit-transition: left 1s ease-in-out; transition: left 1s ease-in-out; }
  .phone-screen-inner .slide img { width: 100%; position: relative; display: block; pointer-events: none; }
  .phone-screen-inner .slide.active { left: 0; }
  .phone-screen-inner .slide.slide_2 { z-index: 2; }
  .phone-screen-inner .slide.slide_3 { z-index: 3; }
  .phone-button { display: block; position: absolute; bottom: 22px; left: 50%; background: #000; width: 30px; height: 30px; margin-left: -12px; border-radius: 100%; } }

.landing-development-section { position: relative; padding: 80px 0; overflow: hidden; z-index: 1; background: #1b222a; }

.landing-development-section .wrapper { position: relative; z-index: 3; }

.landing-development-section .intro { width: 100%; color: #a0b1c5; }

.landing-development-section .intro header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; min-height: 62px; padding-left: 88px; margin: 0 0 30px; }

.landing-development-section .intro img { position: absolute; top: 0; left: 0; height: auto; width: 62px; background: #36ceb0; border-radius: 100%; pointer-events: none; }

.landing-development-section .intro h2 { padding: 0; margin: 0; color: #9ed9c4; font-size: 22px; line-height: 1.1em; letter-spacing: -.03em; }

.landing-development-section .intro h3 { font-family: 'Lato'; font-weight: 500; color: #fff; }

.landing-development-bottom { position: static; width: 100%; margin: 60px 50% 0 0; }

.landing-development-bottom p { font-size: 17px; line-height: 1.4em; }

.landing-development-bottom .btn-link { margin-top: 15px; color: #fff; background: #36ceb0; }

.development-code { display: none; }

@media screen and (min-width: 1000px) { .landing-development-section { padding-bottom: 0; overflow: visible; z-index: auto; }
  .landing-development-section .intro header { margin-left: 15%; }
  .landing-development-section .intro > h3 { font-size: 19px; width: 70%; margin-left: 15%; }
  .landing-development-bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; margin-top: 0; -webkit-transform: translateY(40px); -ms-transform: translateY(40px); transform: translateY(40px); }
  .landing-development-bottom p { font-size: 19px; }
  .landing-development-bottom > div:nth-of-type(1) { width: 38%; }
  .development-code { display: block; width: 62%; height: 650px; font-family: 'Fira Sans'; font-weight: 400; margin-right: 2.5%; background: #232b35; border-radius: 3px; overflow: hidden; z-index: 4; -webkit-transition: opacity 0.75s ease, -webkit-transform 0.75s ease; transition: opacity 0.75s ease, -webkit-transform 0.75s ease; transition: opacity 0.75s ease, transform 0.75s ease; transition: opacity 0.75s ease, transform 0.75s ease, -webkit-transform 0.75s ease; position: relative; }
  .development-code-top { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; background: #1e252e; height: 44px; z-index: 5; }
  .development-code-top > span { width: 13px; height: 13px; margin: 0 6px; display: block; border-radius: 100%; }
  .development-code-top .red { margin-left: 18px; background: #fc635d; }
  .development-code-top .yellow { background: #fdbc40; }
  .development-code-top .green { background: #34c84a; }
  .editor-shadow-right { position: absolute; bottom: 0; right: 0; pointer-events: none; width: 140px; height: 100%; z-index: 3; background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(35, 43, 53, 0)), color-stop(90%, #232b35)); background: -webkit-linear-gradient(left, rgba(35, 43, 53, 0) 0, #232b35 90%); background: linear-gradient(to right, rgba(35, 43, 53, 0) 0, #232b35 90%); }
  .editor-shadow-bottom { position: absolute; bottom: 0; right: 0; pointer-events: none; width: 100%; height: 140px; z-index: 3; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(35, 43, 53, 0)), color-stop(90%, #232b35)); background: -webkit-linear-gradient(top, rgba(35, 43, 53, 0) 0, #232b35 90%); background: linear-gradient(to bottom, rgba(35, 43, 53, 0) 0, #232b35 90%); }
  .editor-code .first { text-align: left; white-space: pre-line; margin-top: 10px; margin-left: 15px; }
  .editor-code .first span { font-family: 'monospace'; font-size: 11px; } }

.landing-support-section { position: relative; padding: 100px 0 140px; margin-bottom: 60px; z-index: 1; }

.landing-support-section .wrapper { position: relative; z-index: 3; }

.landing-support-section .intro { width: 100%; color: #a0b1c5; }

.landing-support-section .intro header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; min-height: 62px; padding-left: 88px; margin: 0 0 30px; }

.landing-support-section .intro header h2 { padding: 0; margin: 0; color: #d1c7f3; font-size: 22px; line-height: 1.1em; }

.landing-support-section .intro img { position: absolute; top: 0; left: 0; height: auto; width: 62px; background: #7259cd; border-radius: 100%; pointer-events: none; }

.landing-support-section .intro h3 { font-family: 'Lato'; font-weight: 500; color: #fff; font-size: 23px; line-height: 1.4em; }

.landing-support-section .intro p { font-size: 17px; line-height: 1.4em; }

.landing-support-section .intro .btn-link { margin-top: 15px; background: #7259cd; color: #fff; }

.landing-support-section .bg { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #2b3642; overflow: hidden; z-index: 1; }

.landing-support-section .band { background: #fff; }

.messages-container { display: none; }

@media screen and (min-width: 1000px) { .landing-support-section { padding: 150px 0 100px; }
  .landing-support-section .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .landing-support-section .wrapper .intro { width: 55%; margin-right: 5%; }
  .messages-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; width: 300px; top: 50px; }
  .messages-container .message { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 28px; padding: 0 0 0 45px; position: relative; }
  .messages-container .message img { position: absolute; top: 0; left: 0; width: 25px; height: auto; display: block; -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); }
  .messages-container .message.alt { padding: 0 45px 0 0; left: -25px; }
  .messages-container .message.alt .message-content { background: #fff; }
  .messages-container .message.alt .message-content .arrow { left: auto; right: -6px; border-left: 8px solid #fff; border-right: none; }
  .messages-container .message.alt .message-content .text-title { width: 60%; background: #778ca4; }
  .messages-container .message.alt .message-content .text { backgrund: #abbdd1; }
  .messages-container .message.alt .message-content .text:nth-of-type(3) { -webkit-transition-delay: .3s; transition-delay: .3s; }
  .messages-container .message.alt .message-content .text:nth-of-type(4) { width: 75%; -webkit-transition-delay: .4s; transition-delay: .4s; }
  .messages-container .message.alt .message-content .text:nth-of-type(5) { width: 70%; -webkit-transition-delay: .5s; transition-delay: .5s; }
  .messages-container .message.alt .message-content .text:nth-of-type(6) { width: 65%; -webkit-transition-delay: .6s; transition-delay: .6s; }
  .messages-container .message.alt .message-content .text:nth-of-type(7) { width: 52%; -webkit-transition-delay: .7s; transition-delay: .7s; }
  .messages-container .message.alt .message-content .text:nth-of-type(8) { width: 60%; transition-dekay: .8s; }
  .messages-container .message.alt .message-content .text:nth-of-type(9) { width: 40%; -webkit-transition-delay: .9s; transition-delay: .9s; }
  .messages-container .message-content { position: relative; background: #7259cd; border-radius: 3px; padding: 20px 20px 12px; -webkit-box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.2); }
  .messages-container .arrow { width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 8px solid #7259cd; display: block; position: absolute; top: 7px; left: -6px; }
  .messages-container .text { width: 30px; height: 5px; margin-bottom: 8px; background: #5d43b2; display: block; border-radius: 3px; -webkit-transition: all .5s ease; transition: all .5s ease; }
  .messages-container .text:nth-of-type(2) { -webkit-transition-delay: .2s; transition-delay: .2s; width: 50%; }
  .messages-container .text:nth-of-type(3) { width: 60%; }
  .messages-container .text:nth-of-type(4) { width: 65%; }
  .messages-container .text:nth-of-type(5) { width: 62%; }
  .messages-container .text:nth-of-type(6) { width: 70%; }
  .messages-container .text:nth-of-type(7) { width: 50%; }
  .messages-container .text.title { width: 70%; margin-bottom: 12px; background: #4b3892; } }

.landing-help { position: relative; padding: 0 0 100px; z-index: 2; }

.landing-help .bg { position: absolute; top: -170px; left: 0; height: 160%; width: 100%; overflow: hidden; z-index: 1; }

.landing-help .bg .band { height: 240px; }

.landing-help .bg .band_1 { display: none; }

.landing-help .bg .band_2 { top: 100px; width: 100%; height: 280px; background: -webkit-gradient(linear, left top, right top, color-stop(0, white), color-stop(60%, #f1f8fa)); background: -webkit-linear-gradient(left, white 0, #f1f8fa 60%); background: linear-gradient(to right, white 0, #f1f8fa 60%); }

.landing-help .bg .band_3 { display: none; }

.landing-help-content { position: relative; width: 400px; padding: 20px 30px 30px; margin: 0 auto; background: #fff; border-radius: 3px; -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4); box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4); overflow: hidden; z-index: 3; }

.landing-help-content .inner { position: relative; z-index: 2; }

.landing-help-content .intro { width: 50%; }

.landing-help-content .intro h3 { color: #64bbc5; font-size: 23px; line-height: 1.4em; }

.landing-help-content .intro > p { display: none; }

.landing-help-content .bands { position: absolute; top: 0; left: 0; height: 100%; width: 100%; opacity: .75; z-index: 1; }

.landing-help-content .bands .band { height: 125px; top: 0; }

.landing-help-content .bands .band_1 { width: 60%; background: -webkit-gradient(linear, left top, right top, color-stop(30%, #ebf9fb), to(rgba(235, 249, 251, 0))); background: -webkit-linear-gradient(left, #ebf9fb 30%, rgba(235, 249, 251, 0) 100%); background: linear-gradient(to right, #ebf9fb 30%, rgba(235, 249, 251, 0) 100%); }

.landing-help-content .bands .band_2 { top: 125px; width: 70%; background: -webkit-gradient(linear, left top, right top, color-stop(30%, #f8fcff), to(rgba(248, 252, 255, 0))); background: -webkit-linear-gradient(left, #f8fcff 30%, rgba(248, 252, 255, 0) 100%); background: linear-gradient(to right, #f8fcff 30%, rgba(248, 252, 255, 0) 100%); }

.landing-help-links { width: 100%; padding: 0; }

.landing-help-links a { position: relative; display: block; height: 35px; padding-left: 55px; margin-bottom: 15px; color: #a0b1c5; text-decoration: none; font-size: 18px; line-height: 1em; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.landing-help-links img { position: absolute; top: 0; left: 0; width: auto; height: 35px; background: #e7f8fa; border-radius: 100%; pointer-events: none; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.landing-help-links span { display: block; padding-top: 6px; font-size: 18px; }

@media screen and (min-width: 1000px) { .landing-help-content { padding: 60px 70px 50px; width: auto; }
  .landing-help-content .inner { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .landing-help-content .intro p { display: block; }
  .landing-help { padding: 60px 0 175px; }
  .landing-help .bg { height: 160%; }
  .landing-help .bg .band_1 { display: block; width: 50%; top: 0; background: -webkit-gradient(linear, left top, right top, from(white), to(#f6f9fc)); background: -webkit-linear-gradient(left, white 0%, #f6f9fc 100%); background: linear-gradient(to right, white 0%, #f6f9fc 100%); }
  .landing-help .bg .band_2 { width: 90%; top: 245px; }
  .landing-help .bg .band_3 { display: block; width: 70%; opacity: 0.8; background: -webkit-gradient(linear, left top, right top, from(white), to(#f6f9fc)); background: -webkit-linear-gradient(left, white 0%, #f6f9fc 100%); background: linear-gradient(to right, white 0%, #f6f9fc 100%); }
  .landing-help-links { width: 42%; padding: 15px 0 0; }
  .landing-help-links a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 55px; }
  .landing-help-links a img { position: relative; height: 40px; margin-right: 10px; }
  .landing-help-links a span { padding-top: 0; } }

.landing-contact { position: relative; z-index: 2; }

.landing-contact .intro { width: 100%; max-width: 600px; margin: 0 auto 80px 0; text-align: center; }

.landing-contact .intro h2 { color: #262c33; }

.landing-contact .intro p { font-size: 17px; line-height: 1.4em; }

.landing-contact-form { position: relative; width: 100%; }

.landing-contact-form .wrapper { position: relative; z-index: 2; }

.landing-contact-form .wrapper form { padding: 0 35px 8px; background: #fff; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }

.landing-contact-form .wrapper .bg { display: none; }

.landing-contact-form .form-fields { width: 100%; }

.landing-contact-form .field { position: relative; min-height: 100px; width: 100%; }

.landing-contact-form .field label { display: block; margin: 0 0 5px; color: #617082; font-family: 'Lato'; font-weight: 300; font-size: 12px; letter-spacing: 2px; text-transform: uppercase; }

.landing-contact-form .field input { height: 45px; width: 100%; padding: 0 18px; background: #d8dbde; color: #262c33; border: none; border-radius: 4px; font-size: 13px; outline: none; }

.landing-contact-form .field textarea { width: 100%; max-width: 100%; height: 150px; max-height: 150px; padding: 14px 19px; margin-bottom: 40px; background: #d8dbde; color: #262c33; border: none; border-radius: 4px; font-size: 13px; font-weight: 300; outline: none; }

.landing-contact-form .submit-btn { width: 100%; padding: 20px 0; background: #6cb051; border: none; }

.landing-contact-form .submit-btn span { position: relative; display: block; z-index: 3; }

@media screen and (min-width: 1000px) { .landing-contact .intro { width: 90%; margin: 0 auto 80px; }
  .landing-contact-form .wrapper form { padding: 120px 120px 55px; border-radius: 4px; -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.1); }
  .landing-contact-form .bg { position: absolute; bottom: -1px; left: 0; z-index: 1; display: block; width: 100%; height: 90%; overflow: hidden; background: #6cb051; }
  .landing-contact-form .bg .band_1 { background: #fff; }
  .landing-contact-form .bg .band_2 { background: #262c33; }
  .landing-contact-form .form-fields { width: 106%; margin: 0 0 0 3%; }
  .landing-contact-form .field { width: 26.666%; min-height: 120px; display: inline-block; margin: 0 3%; }
  .landing-contact-form .field.full { width: 93%; } }

.packages-header { position: relative; padding: 160px 0 180px; }

.packages-header .header-content { width: 100%; max-width: 800px; margin: 0 auto; color: rgba(255, 255, 255, 0.9); text-align: left; opacity: 1; position: relative; -webkit-transition: opacity .75s ease; transition: opacity .75s ease; -webkit-transition-delay: .5s; transition-delay: .5s; z-index: 2; }

.packages-header .header-content h1 { font-family: 'Lato'; font-weight: 300; font-size: 40px; line-height: 1.25em; margin-bottom: 40px; }

.packages-header .header-content p { line-height: 26.35px; }

.packages-header .header-content a { margin-top: 40px; color: #36ceb0; }

.packages-header .bg { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 1; overflow: hidden; background: #36ceb0; }

.packages-header .bg img { position: absolute; width: auto; height: 100%; left: 0; top: 0; opacity: 1; z-index: 1; -webkit-transition: opacity .75s ease; transition: opacity .75s ease; -webkit-transition-delay: .75s; transition-delay: .75s; }

.packages-header .bg .band.over { background: #fff; left: 0; z-index: 3; bottom: -800px; width: 140%; height: 800px; }

.packages-header .bg .band.under { width: 150%; z-index: 2; bottom: -700px; left: -10%; display: none; background: #36d2b4; -webkit-transform: rotate(-5deg); -ms-transform: rotate(-5deg); transform: rotate(-5deg); }

@media screen and (min-width: 800px) { .packages-header .bg img { width: 100%; }
  .packages-header .bg .band.over { height: 720px; bottom: -720px; } }

@media screen and (min-width: 1000px) { .packages-header .header-content { text-align: center; } }

@media screen and (min-width: 1200px) { .packages-header .bg .band.over { height: 550px; bottom: -550px; } }

@media screen and (min-width: 1400px) { .packages-header .bg .band.over { height: 360px; bottom: -360px; } }

.package-section { padding: 70px 0; }

.package-section .intro h2 { font-size: 28px; line-height: 21.875px; color: #262c33; margin-bottom: 33px; }

.package-section .intro p { font-size: 17px; line-height: 27px; margin-bottom: 26px; }

.packages-list { padding: 80px 0; }

.single-package { width: 95%; margin: 0 auto 65px; }

.single-package h3 { font-size: 24px; line-height: 28px; color: #262c33; margin-bottom: 28px; text-align: center; }

.single-package figure { height: 760px; width: 100%; overflow: hidden; text-align: center; }

.single-package figure img { height: 450px; width: 100%; margin-bottom: 25px; }

.single-package figure a { font-family: 'Lato'; font-weight: 500; font-size: 20px; color: #262c33; text-decoration: none; }

@media screen and (min-width: 800px) { .package-section { padding: 90px 0; }
  .package-section .intro { width: 80%; }
  .single-package { width: 90%; } }

@media screen and (min-width: 1000px) { .packages-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .packages-list .single-package { width: 40%; }
  .packages-list .single-package figure img { margin-bottom: 40px; } }

@media screen and (min-width: 1400px) { .package-section .wrapper { width: 80%; margin: 0 auto; }
  .package-section .intro { width: 100%; text-align: center; }
  .package-section .intro p { width: 60%; line-height: 29px; margin: 0 auto 30px; }
  .packages-list .single-package { width: 32%; } }

.about-header { position: relative; padding: 240px 0; overflow: hidden; }

.about-header .intro { position: relative; max-width: 600px; margin: 0 auto; opacity: 1; text-align: left; -webkit-transition: opacity .75s ease; transition: opacity .75s ease; -webkit-transition-delay: .5s; transition-delay: .5s; z-index: 2; }

.about-header .intro h1 { font-size: 35px; margin-bottom: 30px; color: #fff; }

.about-header .intro p { margin-bottom: 25px; color: rgba(255, 255, 255, 0.8); }

.about-header .bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 1; background: #20162c; }

.about-header .bg .band { height: 1px; z-index: 1; background: -webkit-gradient(linear, left top, right top, from(rgba(44, 32, 58, 0)), color-stop(40%, #2c203a)); background: -webkit-linear-gradient(left, rgba(44, 32, 58, 0) 0%, #2c203a 40%); background: linear-gradient(to right, rgba(44, 32, 58, 0) 0%, #2c203a 40%); }

.about-header .bg .band_1 { width: 100%; top: 100px; }

.about-header .bg .band_2 { width: 80%; top: 200px; }

.about-header .bg .band_3 { width: 60%; top: 300px; }

.about-header .bg .band_4 { width: 50%; top: 400px; }

.about-header .bg .band_5 { width: 40%; top: 500px; }

.about-header .bg .band_6 { width: 60%; top: 600px; }

.about-header .bg .band_7 { width: 30%; top: 700px; }

@media screen and (min-width: 1200px) { .about-header .intro { text-align: center; } }

.about-owners { padding: 85px 0; }

.about-owners .intro h2 { font-size: 25px; letter-spacing: 1.4px; color: #2e223e; }

.about-owners .intro > p { font-size: 17px; line-height: 25px; margin-bottom: 40px; }

.owner-images { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.owner-images > div { position: relative; height: 350px; width: 100%; overflow: hidden; margin-bottom: 60px; }

.owner-images > div img { height: 100%; width: 100%; }

.owner-overlay { background: rgba(76, 57, 103, 0.7); position: absolute; top: 0; left: 0; height: 100%; width: 100%; }

.owner-overlay > div { position: absolute; bottom: 10px; left: 20px; width: 100%; }

.owner-overlay > div p { margin-bottom: 0; color: #fff; }

.owner-overlay > div span { color: #fff; }

@media screen and (min-width: 600px) { .about-owners { padding-top: 150px; }
  .about-owners .intro { width: 80%; margin: 0 auto; } }

@media screen and (min-width: 800px) { .about-owners .intro { text-align: center; width: 70%; }
  .owner-images { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .owner-images > div { width: 48%; }
  .owner-images > div:nth-of-type(1) { margin-right: 1%; }
  .owner-images > div:nth-of-type(2) { margin-left: 1%; } }

@media screen and (min-width: 1100px) { .about-owners .intro > h2 { width: 85%; margin: 0 auto 40px; }
  .about-owners .intro > p { width: 85%; margin: 0 auto 30px; }
  .owner-images > div { text-align: left; width: 44%; }
  .owner-images > div:nth-of-type(1) { margin-right: 3%; }
  .owner-images > div:nth-of-type(2) { margin-left: 3%; } }

.footer-top { padding: 80px 0 45px; background: #262c33; }

.footer-top > div { width: 1000px; margin: 0 auto; }

.footer-columns { width: 90%; margin-left: 5%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.footer-columns h6 { font-family: 'Lato'; font-weight: 300; font-size: 13px; letter-spacing: 1px; text-transform: uppercase; margin: 0 0 5px; }

.footer-col-1 { display: inline-block; width: 20%; margin-bottom: 25px; }

.footer-col-1 h6 { color: #50abf1; }

.footer-col-2 { width: 20%; display: inline-block; margin-bottom: 25px; }

.footer-col-2 h6 { color: #b169cd; }

.footer-col-3 { width: 20%; display: none; }

.footer-col-3 h6 { color: #e8724d; }

.footer-col-4 { width: 45%; display: inline-block; }

.footer-col-4 h6:nth-of-type(1) { color: #6cb051; }

.footer-col-4 h6:nth-of-type(2) { color: #d63d6c; }

.footer-col-4 p { font-family: 'Lato'; font-weight: 300; font-size: 14px; line-height: 22px; margin: 0 0 20px; color: #c8ced5; }

.footer-col-4 form { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; position: relative; margin-bottom: 30px; border-radius: 4px; overflow: hidden; }

.footer-col-4 form input { width: 75%; height: 50px; padding: 0 18px; background: #1e2329; color: #fff; border: none; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Lato'; font-weight: 300; font-size: 14px; }

.footer-col-4 form button { width: 25%; height: 50px; padding: 0; border: none; text-align: center; display: block; background: #6cb051; color: #fff; font-family: 'Fira Sans'; font-weight: 500; line-height: 50px; font-size: 14px; letter-spacing: 1px; position: relative; cursor: pointer; text-transform: uppercase; -webkit-transition: all .5s ease; transition: all .5s ease; }

.footer-col-4 form h6 { color: #d63d6c; }

.footer-col-4 form p { font-family: 'Lato'; font-weight: 300; font-size: 14px; line-height: 22px; margin: 0 0 20px; color: #c8ced5; }

.footer-col-4 form p a { text-decoration: none; color: inherit; outline: 0; }

.footer-links { margin: 0; padding: 0; list-style-type: none; font-size: 14px; line-height: 22px; font-family: 'Lato'; font-weight: 300; }

.footer-links li { margin: 0 0 2px; }

.footer-links li a { color: #fff; text-decoration: none; outline: 0; }

.footer-accreditations { padding: 52px 0; background: #22272e; }

.footer-bottom { padding: 25px 0 25px 5%; background: #1c2127; }

.footer-bottom > div { width: 1000px; margin: 0 auto; }

.footer-bottom p { font-family: 'Lato'; font-weight: 300; letter-spacing: 1px; color: #c8ced5; font-size: 12px; margin: 0 0 20px; }

.footer-bottom .space { width: 100%; height: 1px; margin: 0 10px; color: #4a525c; }

.footer-bottom .highlight { color: #e3ebf5; }

@media screen and (min-width: 1100px) { .footer-columns { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .footer-col-3 { display: inline-block; } }
