<section class='landing-about'>
    <div class='wrapper standard'>
        <figure class='about-image'>
            <a href='/about'>
                <img src='./static/images/landing-about-orange.jpg' alt='About Captive Studios'>
                <p>
                    Creative
                    <br>
                    Passionate
                    <br>
                    Effective
                </p>
            </a>
        </figure>

        <div class='intro'>
            <h3>We're passionate about create extraordinary digital experiences</h3>
            <p>Every web design and developemtn project or digital marketing campaign we undertake ties in with our core values</p>
            <p>We're proud of our relationships and strive to work towards a collaborative, challenging, honest and fun environment with every client</p>
            <p>After all, success in life means living by your values</p>

            <a class='btn btn-link' href='/about'>
                <span>About Us</span>
            </a>
        </div>
    </div>

    <div class='bg'>
        <span class='band white top right rotate_cc origin_br'></span>
        <span class='band blue_1 top right rotate_cc origin_tr'></span>
        <span class='band blue_2 top right rotate_cc origin_tr'></span>
    </div>
</section>
