<section class='landing-design-section'>
    <div class='wrapper standard'>
        <div class="intro">
            <header class='landing-design-header'>
                <img src='./static/icons/design-icon.png' alt="Captive Design">
                <h2>User Experience Design</h2>
            </header>

            <h3>It takes 3 seconds to capture your visitor and begin the process of converting them into a customer. It's all down to design</h3>

            <p>Our team will sit down and listen to your objectives and goals; whether it's gaining enquiries, driving phone calls, downloading a resource or purchasing a product, we'll design the website with these at the forefron of our minds, tweaking area after launch to further improve results</p>
            <p>And let's not forget about responsive design. Over 65% of internet browsing is on mobile devices, with desktop a secondary touch point for purchases and bookins - responsive is no longer an afterthough</p>
            <a class='btn btn-link' href='/design'>
                <span>Find out more</span>
            </a>
        </div>

        <div class='landing-design-phone'>
            <span class='phone-camera'></span>
            <span class='phone-speaker'></span>
            <div class='phone-shadow'></div>
            <div class='phone-screen'>
                <div class='phone-screen-inner'>
                    <!-- <div class='slide slide_1' id='phone_slide_1'>
                       
                    </div> -->

                    <div class='slide slide_2' id='phone_slide_2'>
                        <img src='./static/images/landing-phone2.png' alt="Example Design">
                    </div>

                    <div class='slide slide_3' id='phone_slide_3'>
                        <!-- <img src='./static/images/landing-design-phone3.jpg' alt='Design Example'> -->
                    </div>

                    <div class='slide slide_4' id='phone_slide_4'>
                        <!-- <img src='./static/images/landing-design-phone4.jpg' alt='Design Example'> -->
                    </div>
                </div>
            </div>

            <span class='phone-button'></span>
        </div>
    </div>
</section>