<section class='wrapper standard landing-features'>
    <div class='features intro'>
       <figure class='landing-feature design'>
            <img class='icon design' src='./static/icons/design-icon.png' alt='User Experience Design'>
            <h2>User Experience Design</h2>
            <p>Great design starts with putting people first. Work with us and you'll benefit from a collaborative user experience design approach that promises improved usability, accessibility and efficiency</p>
            <span>Read more </span>
        </figure>

        <figure class='landing-feature development'>
            <img class='icon development' src='./static/icons/development-icon.png' alt='Pixel-perfect Development'>
            <h2>Pixel-perfect Development</h2>
            <p>We're not joking when we say we've considered every detail. That's right, down to each individual pixel. When you see a design, this is exactly how your website will look, complete with stunning animation and effects.</p>
            <span>Read more </span>
        </figure>

        <figure class='landing-feature support'>
            <img class='icon support' src='./static/icons/support-icon.png' alt='Complete Support'>
            <h2>Complete Support</h2>
            <p>Once your product has launched it's not goodbye. We're here to support any changes, provide analytics, asses performance and discuss future improvements, and we're always at the end of the phone if you need us</p>
            <span>Read more </span>
        </figure>
    </div>
</section>