<header class='landing-header'>
    <div class='wrapper standard'>
        <div class='header-content'>
            <h1>A comprehensive approach to innovative solutions</h1>
            <p>We're an interactive agency whose passion and experience in implementing mobile and online solutions can help your business achieve its goals. We professionally develop and implement strategies as well as support your online presence</p>
            <p>We believe in the power of online marketing, and that's why we make it the focus of our interactive services</p>

            <a href='/' class='btn btn-link'>
                <span>How are we different?</span>
            </a>
        </div>
    </div>
</header>