<section class='landing-help'>
    <div class='wrapper narrow'>
        <div class='landing-help-content'>
            <div class='inner'>
                <div class='intro'>
                    <h3>Talk to our team</h3>
                    <p>Would you like to talk to us about a new project, helping you out with your current website, your digital marketing stratgey, or perhaps something else entirely?</p>
                    <p>We're looking forward to it</p>
                </div>

                <div class='landing-help-links'>
                    <a href="tel:9183518097">
                        <img src='./static/icons/help-icon-phone.png' alt='Phone us'>
                        <span>918 351 8097</span>
                    </a>

                    <a href='mailto:captiveStudios@gmail.com'>
                        <img src='./static/icons/help-icon-mail.png' alt="Mail Us">
                        <span>studioscaptive@gmail.com</span>
                    </a>

                    <a href='https://twitter.com/captive_studios' target="_blank">
                        <img src='./static/icons/help-icon-twitter.png' alt='Our Twitter'>
                        <span>https://twitter.com/captive_studios</span>
                    </a>
                </div>
            </div>
            <div class='bands'>
                <span class='band band_1 top left rotate_cc origin_bl'></span>
                <span class='band band_2 top left rotate_cc origin_bl'></span>
            </div>
        </div>
    </div>

    <div class='bg'>
        <span class='band band_1 top right rotate_cc origin_tr'></span>
        <span class='band band_2 top right rotate_cc origin_tr'></span>
        <span class='band band_3 top right rotate_cc origin_tr'></span>
    </div>
</section>