<section class='landing-support-section'>
    <div class='wrapper standard'>
        <div class='intro'>
            <header class='landing-support-header'>
                <img src='./static/icons/support-icon.png' alt='Support'>
                <h2>Complete Support</h2>
            </header>
            <h3>It's not about re-designing your entire website every to years to stay on top of the competition. It's about two huge ranking signals: evolution and speed</h3>
            <p>We don't say goodbye once we've launched a project; we thrive off of constantly adding and improving features and functionality to improve engagement and conversion rates. This means your website will be fast, up-to-date, secure and backed up. Ask us about our support system</p>
            <p>Out team constantly monitor up-time for our clients, and reply to requests through our support system within minutes. We act as an extensions of your team, powering your website which, in turn, powers your business</p>

            <a class='btn btn-link' href='/support'>
                <span>Find out more</span>
            </a>
        </div>

        <div class='messages-container'>
            <div class='message'>
                <img src='./static/icons/support-male.jpg' alt='Male Support Member'>
                <div class='message-content'>
                <span class="arrow"></span>
                <span class='text title'></span>
                <span class='text'></span>
                <span class='text'></span>
                <span class='text'></span>
                <span class='text'></span>
                <span class='text'></span>
                </div>
            </div>

            <div class='message alt'>
                <!-- img -->
                <div class='message-content'>
                    <span class='arrow'></span>
                    <span class='text title'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                </div>
            </div>

            <div class='message'>
                <img src='./static/icons/support-female.jpg' alt='Female Support Member'>
                <div class='message-content'>
                    <span class='arrow'></span>
                    <span class='text title'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                </div>
            </div>

            <div class='message alt'>
                <!-- image <img src='./static/icons/support-male.jpg' alt='Male Support Member'> -->
                <div class='message-content'>
                    <span class="arrow"></span>
                    <span class='text title'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                    <span class='text'></span>
                </div>
            </div>
        </div>
    </div>

    <div class='bg'>
        <span class='band white bottom left rotate_cc origin_tl'></span>
    </div>
</section>